<div class="row">
    <div class="col-lg-12" plex-tabs ng-model="tab">
        <ul class="nav nav-tabs">
            <li>
                <a>
                    Seleccionar paciente
                </a>
            </li>
            <li ng-disabled="internacionesDisabled">
                <a>
                    Internaciones
                </a>
            </li>
        </ul>

        <div class="card card-block">
            <form name="buscarPaciente" ng-submit="checkInternacion()">
                <!-- Buscar personas por nombre o documento -->
                <h3>Buscar personas</h3>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" label="Buscar personas por nombre / documento " ng-model="personas.query" plex>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-striped" ng-if="personas.data && personas.data.length > 0">
                            <thead>
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Documento
                                    </th>
                                    <th>
                                        Edad
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in personas.data" ng-click="personas.seleccionar(item)" class="clickable">
                                    <td>
                                        {{item | persona:"an"}}
                                    </td>
                                    <td>
                                        {{item | persona:"d"}}
                                    </td>
                                    <td>
                                        {{item | persona:"e"}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="alert alert-danger" ng-if="personas.query && !personas.data.length">
                            <p>No se han encontrado ningún paciente</p>
                        </div>

                    </div>
                </div>

            </form>
        </div>
        <div class="card card-block">
            <h3>Internaciones</h3>

            <div class="row">
                <div class="col-lg-12" ng-if="internaciones">
                    <table class="table table-hover table-striped" ng-if="personas.data && personas.data.length > 0">
                        <thead>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Motivo
                                </th>
                                <th>
                                    Diagnóstico presuntivo
                                </th>
                                <th>
                                    Estado
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="internacion in internaciones | orderBy: '-ingreso.fechaHora'" ng-click="ver(internacion.id)" class="clickable">
                                <td>
                                    <b>Desde:</b> {{internacion.ingreso.fechaHora | date : 'dd/MM/yyyy HH:mm'}}
                                    <div ng-if="internacion.egreso.fechaHora">
                                        <b>Hasta:</b> {{internacion.egreso.fechaHora | date : 'dd/MM/yyyy HH:mm'}}
                                    </div>
                                </td>
                                <td>
                                    {{internacion.ingreso.motivo}}
                                </td>
                                <td>
                                    {{internacion.ingreso.diagnosticoPresuntivo}}
                                </td>
                                <td>
                                    {{internacion.estado}}
                                    <span ng-if="internacion.egreso.tipoAlta">
                                        <br/>
                                        {{internacion.egreso.tipoAlta}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="col-lg-12" ng-if="!internaciones">
                    <div class="alert alert-danger" >
                        <p>No se han encontrado internaciones</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
