<!-- Header de paciente -->
<div plex-include="'partials/Pacientes/iHeader.html'" plex-include-internacion="internacion"></div>

<md-content>
    <div layout layout-padding>
        <h2>Egreso</h2>
    </div>

    <ng-form name="formEgreso">
        <div  layout layout-padding>
            <div flex="33">
                <md-input-container class="md-block">
                    <label>Fecha</label>
                    <input type="text" plex="date" ng-required="true" ng-model="egreso.fechaHora" label="Fecha"/>
                </md-input-container>
            </div>
            <div flex="33">
                <md-input-container class="md-block">
                    <label>Hora</label>
                    <input type="text" plex="time" ng-required="true" ng-model="egreso.fechaHora" label="Hora"/>
                </md-input-container>
            </div>
            <div flex="33">
                <md-input-container class="md-block">
                    <!-- <input type="hidden" label="Tipo de egreso" ng-model="egreso.tipo" plex plex-select="item.nombre for item in tiposEgresos" ng-required="true"/> -->
                    <label>Tipo de egreso</label>
                    <md-select ng-model="egreso.tipo" ng-required="true">
                        <md-option ng-repeat="item in tiposEgresos" value="{{item.nombre}}">{{item.nombre}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>

        <div layout layout-pretty>
            <span flex></span>
            <md-button ng-click="cancelarEgreso()">
                Cancelar
            </md-button>
            <md-button class="md-primary md-raised" plex-submit="egresar()" ng-disabled="formEgreso.$invalid">
                Egresar
            </md-button>
        </div>
    </ng-form>

</div>
</md-content>
