<div plex-include="'partials/Pacientes/iHeader.html'" plex-include-internacion="internacion"></div>
<ng-form name="formEgreso">
    <div class="card card-block">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="md-headline">Egreso</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <input type=text label="Fecha" ng-model="egreso.fechaHora" plex="date">
            </div>
            <div class="col-lg-2">
                <input type=text label="Hora" ng-model="egreso.fechaHora" plex="time">
            </div>
            <div class="col-lg-2">
                <select label="Tipo de egreso" ng-model="egreso.tipo" plex>
                    <option ng-repeat="item in tiposEgresos" ng-value="item.id">{{item.nombre}}</option>
                </select>
            </div>
            <div class="col-lg-3" ng-show="egreso.tipo == 'alta'">
                    <input type="radio" name="group1" label="Alta médica" value="medica" ng-model="egreso.tipoAlta" plex="radio">
                    <input type="radio" name="group1" label="Derivación" value="derivacion" ng-model="egreso.tipoAlta" plex="radio">
                    <input type="radio" name="group1" label="Voluntaria" value="voluntaria" ng-model="egreso.tipoAlta" plex="radio">
            </div>
            <div class="col-lg-2" ng-show="egreso.tipo == 'pase'">
                <select label="Servicio sugerido" ng-model="servicioSugerido" min="3" plex="(item.nombre) for item in buscarUbicacion($value, 'servicio')"></select>
            </div>

        </div>
        <div class="row" ng-show="egreso.tipoAlta == 'derivacion'">
            <div class="col-lg-6">
                <select label="Hospital a derivar" ng-model="derivadoHacia" min="3" plex="(hospital.nombre) for hospital in buscarUbicacion($value, 'hospital')"></select>
            </div>
        </div>
        <div class="row" ng-show="egreso.tipo == 'alta' || egreso.tipo == 'pase'">
            <div class="col-lg-6">
                <textarea label="Resumen de internación" ng-model="egreso.resumenInternacion" plex></textarea>
            </div>
        </div>
        <div class="row" ng-show="egreso.tipo == 'alta'">
            <div class="col-lg-6">
                <textarea label="Diagnóstico de alta" ng-model="egreso.diagnosticoAlta" plex></textarea>
            </div>
        </div>
        <div class="row" ng-show="egreso.tipo == 'alta'">
            <div class="col-lg-6">
                <textarea label="Tratamiento a seguir" ng-model="egreso.tratamientoaSeguir" plex></textarea>
            </div>
        </div>
    </div>
    <div class="card card-block margin-top text-right">
        <a class="btn btn-default btn-flat" ng-click="cancelarEgreso()">Cancelar</a>
        <a class="btn btn-primary" plex-submit="egresar()" ng-disabled="formEgreso.$invalid">Guardar</a>
    </div>
</ng-form>
</div>
