<!-- Header de paciente -->
<div plex-include="'partials/Pacientes/iHeader.html'" plex-include-internacion="internacion"></div>

<!-- Tabla de evoluciones -->
<div layout layout-pretty whiteframe>
    <div flex>
        <div layout ng-show="show_toolbar" >
            <div flex="20">
                <h2 class="md-headline">Evoluciones del paciente</h2>
            </div>
            <div flex></div>
            <div flex="20" flex-gt-sm>
                <md-input-container class="md-block">
                    <label>Servicio</label>
                    <md-select name="servicios" ng-click="filtros.filtrar()" ng-model="filtros.servicio">
                        <md-option ng-repeat="servicio in servicios" value="{{servicio.id}}">{{servicio.nombreCorto}}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="10" flex-gt-sm>
                <md-input-container class="md-block">
                    <md-button class="md-primary md-raised" ng-click="editarEvolucion();">
                        Nueva evolución
                    </md-button>
                </md-input-container>
            </div>
        </div>

        <!-- Formulario de edición -->
        <div ng-if="evolucionesEdit">
            <h2 class="md-headline">{{tituloFormulario}}</h2>
            <ng-form name="formEditarEvolucion" ng-show="!loading">
                <div layout>
                    <div flex="40">
                        <label>Fecha evolución</label>
                        <!-- <md-input-container class="md-block" flex-gt-sm> -->
                            <mdp-date-picker flex mdp-format="DD/MM/YYYY" ng-model="evolucionesEdit.fechaHora" ng-required="true" plex></mdp-date-picker>
                        <!-- </md-input-container> -->
                    </div>

                    <div flex="40">
                        <label>Hora evolución</label>
                        <!-- <md-input-container class="md-block" flex-gt-sm> -->
                            <mdp-time-picker flex ng-model="evolucionesEdit.fechaHora" mdp-auto-switch="true" ng-required="true" plex></mdp-time-picker>
                        <!-- </md-input-container> -->
                    </div>
                </div>
                <!-- >>> Enfermería -->
                <!-- <div layout ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                <md-tabs md-dynamic-height md-border-bottom md-selected="tab">
                    <md-tab label="Signos vitales">

                        <div layout>
                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Frecuencia cardíaca</label>
                                    <input type="text" ng-model="evolucionesEdit.pulso" label="Frecuencia cardíaca" suffix="PPM" plex="int"/>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Frecuencia respiratoria</label>
                                    <input type="text" ng-model="evolucionesEdit.respiracion" label="Frecuencia respiratoria" suffix="RPM" plex="int"/>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Tensión diastólica</label>
                                    <input type="text" ng-model="evolucionesEdit.tensionDiastolica" label="Tensión diastólica" suffix="mmHG" plex="int"/>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Tensión sistólica</label>
                                    <input type="text" ng-model="evolucionesEdit.tensionSistolica" label="Tensión sistólica" suffix="mmHG" plex="int"/>
                                </md-input-container>
                            </div>
                        </div>
                        <!-- <div layout ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                        <div layout>
                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Temperatura</label>
                                    <input type="text" ng-model="evolucionesEdit.temperatura" label="Temperatura" suffix="º C" plex="float"/>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Saturación O&#178;</label>
                                    <input type="text" ng-model="evolucionesEdit.spo2" label="Saturación O&#178;" suffix="%" plex="int" plex-min="0" plex-max="100"/>
                                </md-input-container>
                            </div>

                            <div flex="25">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Kgs</label>
                                    <input type="text" ng-model="evolucionesEdit.peso" label="Peso" suffix="Kgs" plex="float"/>
                                </md-input-container>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Ingresos">
                        <div layout >
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>P.H I</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.ph" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>P.H II</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.ph2" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>ATB</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.atb" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>HEMO.</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.hemo" />
                                </md-input-container>
                            </div>
                        </div>

                        <div layout>
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>NP</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.np" />
                                </md-input-container>
                            </div>
                            <div flex="20" flex-sm="100">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Prep.</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.prep" />
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>H2O</label>
                                    <input type="text" ng-model="evolucionesEdit.ingreso.h2o" />
                                </md-input-container>
                            </div>
                        </div>
                    </md-tab>
                    <md-tab label="Egresos">
                        <div layout >
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Lavado vesical I</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.lavadoVesicalI" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Diuresis</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.diuresis" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Catarsis</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.catarsis" />
                                </md-input-container>
                            </div>

                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>S.N.G</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.sng" />
                                </md-input-container>
                            </div>
                        </div>

                        <div layout>
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Drenajes I</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.drenajes" />
                                </md-input-container>
                            </div>
                            <div flex="20" flex-sm="100">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Drenajes II</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.drenajes2" />
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ostomias I</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.ostomias" />
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>Ostomias II</label>
                                    <input type="text" ng-model="evolucionesEdit.egreso.ostomias2" />
                                </md-input-container>
                            </div>
                        </div>
                    </md-tab>

                    <md-tab label="Descripcion">
                        <!-- <<< Enfermería -->
                        <div layout>
                            <div flex>
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label for="filter-nombre">Descripción</label>
                                    <textarea label="Descripción" placeholder="Consignar los tratamientos y cuidados efectuados y los síntomas observados" plex-focus="true" ng-model="evolucionesEdit.texto" plex ng-required="true" rows="5"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </md-tab>
                </md-tabs>



                <div layout>
                    <span flex></span>
                    <md-button ng-click="cancelarEdicion();">Cancelar</md-button>
                    <md-button class="md-primary md-raised" plex-submit="guardarEvolucion(evolucionesEdit)" ng-disabled="formEditarEvolucion.$invalid">Guardar</md-button>
                </div>

            </ng-form>

        </div>

        <md-table-container ng-if="!evolucionesEdit">
            <table data-md-table md-progress="promise" ng-if="internacion.evoluciones && internacion.evoluciones.length > 0">
                <thead md-head>
                    <th md-column>
                        Fecha
                    </th>
                    <th md-column>
                        Detalle
                    </th>
                    <th md-column>
                        FC
                    </th>
                    <th md-column>
                        Tensión
                    </th>
                    <th md-column>
                        Temperatura
                    </th>
                    <th md-column>
                        FR
                    </th>
                    <th md-column>
                        Saturación
                    </th>
                    <th md-column>
                        Peso
                    </th>
                    <th md-column>
                        Balance
                    </th>
                    <th></th>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="item in filtros.evoluciones | orderBy: '-fechaHora'">
                        <td md-cell>
                            {{item.fechaHora | fromNow }}<br/>
                            <div class="text-muted small">
                                {{item.fechaHora | date: "dd/MM/yyyy HH:mm"}}
                            </div>
                        </td>
                        <td md-cell>
                            {{item.texto}}
                        </td>
                        <td md-cell>
                            <span ng-if="item.pulso">{{item.pulso}}
                                PPM</span>
                        </td>
                        <td md-cell>
                            <span ng-if="item.tensionDiastolica && item.tensionSistolica">{{item.tensionDiastolica + "/" + item.tensionSistolica}}</span>
                        </td>
                        <td md-cell>
                            <span ng-if="item.temperatura">{{item.temperatura}}º</span>
                        </td>
                        <td md-cell>
                            <span ng-if="item.respiracion">{{item.respiracion}}
                                RPM</span>
                        </td>
                        <td md-cell>
                            <span ng-if="item.spo2">{{item.spo2}}%</span>
                        </td>
                        <td md-cell>
                            <span ng-if="item.peso">{{item.peso}}
                                Kg</span>
                        </td>
                        <td md-cell>
                        </td>
                        <td md-cell>
                            <md-button ng-if='item.tipo == Session.variables.prestaciones_workflow' class="md-icon-button" aria-label="Editar evolución" ng-click="editarEvolucion(item);">
                                <md-icon md-font-icon="fa-pencil" class="fa"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>

</div>
