<!-- Tabla de evoluciones -->
<div ng-controller="internacion/iEvolucionar">

    <div class="card card-block" ng-show="show_toolbar">
        <div class="row">
            <div class="col-xs-4">
                <h3>Evoluciones del paciente</h3>
            </div>
            <div class="col-xs-4">
                <div class="form-group"></div>
            </div>
            <div class="col-xs-6 text-right">
                <div class="form-group">
                    <select class="form-control" label="Servicio" ng-model="filtros.servicio" ng-click="filtros.filtrar()" plex="(servicio.nombreCorto) for servicio in servicios"></select>
                </div>
            </div>

            <div class="col-xs-2 text-right" ng-if="internacion.estado != 'egresado'" ng-show="show_toolbar">
                <br/>
                <button class="btn btn-primary form-control" ng-click="editarEvolucion();">
                    Nueva evolución
                </button>
            </div>
        </div>

        <table class="table table-hover table-striped" ng-if="internacion.evoluciones && internacion.evoluciones.length > 0" ng-if="!evolucionesEdit">
            <thead >
                <tr>
                    <th >
                        Fecha
                    </th>
                    <th style="width: 40%;">
                        Detalle
                    </th>
                    <th >
                        FC
                    </th>
                    <th >
                        Tensión
                    </th>
                    <th >
                        Temperatura
                    </th>
                    <th >
                        FR
                    </th>
                    <th >
                        Saturación
                    </th>
                    <th >
                        Peso
                    </th>
                    <th >
                        Balance líquidos
                    </th>
                    <th >
                        Usuario / Servicio
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in filtros.evoluciones | orderBy: '-fechaHora'">
                    <td >
                        {{item.fechaHora | fromNow }}<br/>
                        <div class="text-muted small">
                            {{item.fechaHora | date: "dd/MM/yyyy HH:mm"}}
                        </div>
                    </td>
                    <td >
                        {{item.texto}}
                    </td>
                    <td >
                        <span ng-if="item.pulso">{{item.pulso}}
                            PPM</span>
                    </td>
                    <td >
                        <span ng-if="item.tensionDiastolica && item.tensionSistolica">{{item.tensionDiastolica + "/" + item.tensionSistolica}}</span>
                    </td>
                    <td >
                        <span ng-if="item.temperatura">{{item.temperatura}}º</span>
                    </td>
                    <td >
                        <span ng-if="item.respiracion">{{item.respiracion}}
                            RPM</span>
                    </td>
                    <td >
                        <span ng-if="item.spo2">{{item.spo2}}%</span>
                    </td>
                    <td >
                        <span ng-if="item.peso">{{item.peso}}
                            Kg</span>
                    </td>
                    <td >

                        <table ng-if="item.$total_ingresos || item.$total_ingresos > 0">
                            <tr>
                                <td>
                                    I =
                                    {{item.$total_ingresos}}
                                    <br/>
                                    E =
                                    {{item.$total_egresos}}
                                </td>
                                <td style="text-align: center; vertical-align: middle;">
                                    <i class="verde mdi mdi-trending-up" ng-if="item.$balance < 0"></i>
                                    <i class="celeste mdi mdi-trending-flat" ng-if="item.$balance == 0"></i>
                                    <i class="rojo mdi mdi-trending-down" ng-if="item.$balance > 0"></i>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td >
                        {{item.createdBy.name}}
                        <br/>
                        {{item.servicio.nombreCorto}}
                    </td>
                    <td >
                        <button ng-if='item.tipo == Session.variables.prestaciones_workflow' class="btn btn-default btn-flat tips" title="Editar evolución" ng-click="editarEvolucion(item);">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <div ng-if="evolucionesEdit">
        <ng-form name="formEditarEvolucion" ng-show="!loading">
            <fieldset>
                <!-- <legend>{{tituloFormulario}}</legend> -->

                <div class="row">
                    <div class="col-lg-12" plex-tabs ng-model="tab">
                        <ul class="nav nav-tabs">
                            <li>
                                <a>
                                    Fecha y hora
                                </a>
                            </li>
                            <li>
                                <!-- <li ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                                <a>
                                    Signos vitales
                                </a>
                            </li>
                            <li>
                                <!-- <li ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                                <a>
                                    Ingresos líquidos
                                </a>
                            </li>
                            <li>
                                <!-- <li ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                                <a>
                                    Egresos líquidos
                                </a>
                            </li>
                            <li>
                                <a>
                                    Texto evolución
                                </a>
                            </li>
                        </ul>

                        <div class="card card-block">
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" label="Fecha evolución" ng-model="evolucionesEdit.fechaHora" plex="date">
                                    </div>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" label="Hora evolución" ng-model="evolucionesEdit.fechaHora" plex="time">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                        <div class="card card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.pulso" label="Frecuencia cardíaca" suffix="PPM" plex="int" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.respiracion" label="Frecuencia respiratoria" suffix="RPM" plex="int" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.tensionDiastolica" label="Tensión diastólica" suffix="mmHG" plex="int" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.tensionSistolica" label="Tensión sistólica" suffix="mmHG" plex="int" plex/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.temperatura" label="Temperatura" suffix="º C" plex="float" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.spo2" label="Saturación O&#178;" suffix="%" plex="int" plex-min="0" plex-max="100" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.peso" label="Peso" suffix="Kgs" plex="float" plex/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                        <div class="card card-block">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.ingresos.ph" label="P.H I" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.ingresos.ph2" label="P.H II" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.ingresos.atb" label="ATB" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.ingresos.hemo" label="HEMO." suffix="ml" plex/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input label="NP" type="text" ng-model="evolucionesEdit.ingresos.np" suffix="ml" plex/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input label="Prep." type="text" ng-model="evolucionesEdit.ingresos.prep" suffix="ml" plex/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input label="H20" type="text" ng-model="evolucionesEdit.ingresos.h2o" suffix="ml" plex/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div ng-if='Session.variables.prestaciones_workflow == "enfermero"'> -->
                        <div class="card card-block">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.lavadoVesicalI" label="Lavado vesical I" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.diuresis" label="Diuresis" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.catarsis" label="Catarsis" suffix="ml" plex/>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.sng" label="S.N.G" suffix="ml" plex/>
                                    </div>
                                </div>


                                <div class="col-md-1">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.sny" label="S.N.Y" suffix="ml" plex/>
                                    </div>
                                </div>


                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.ostomias" label="Ostomias I" suffix="ml" plex/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" ng-model="evolucionesEdit.egresos.ostomias2" label="Ostomias II" suffix="ml" plex/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-repeat="drenaje in internacion.drenajes track by $index">
                                <input type="hidden" value="'{{drenaje.id}}'" ng-model="evolucionesEdit.egresos.drenajes[$index].id" ng-init="evolucionesEdit.egresos.drenajes[$index].id = drenaje.id"/>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Lado</label>
                                        <p>{{drenaje.lado}}</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Tipo</label>
                                        <p>{{drenaje.tipo}}</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select label="Características del líquido" ng-model="evolucionesEdit.egresos.drenajes[$index].caracteristicaLiquido" plex>
                                            <option value="Hemático">Hemático</option>
                                            <option value="Seroso">Seroso</option>
                                            <option value="Serohemático">Serohemático</option>
                                            <option value="Purulento">Purulento</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" label="Observaciones" ng-model="evolucionesEdit.egresos.drenajes[$index].observaciones" plex="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-block">
                            <div class=" row" ng-if="internacion.evoluciones.length > 0">
                                <div class="col-lg-12">
                                    <h6 class="text-uppercase">
                                        Evolución anterior ({{internacion.evoluciones[internacion.evoluciones.length-1].fechaHora | fromNow}})
                                        <span class=" pull-right">
                                            {{internacion.evoluciones[internacion.evoluciones.length-1].fechaHora | date: "dd/MM/yyyy  'a las' HH:mm "}} hs
                                        </span>
                                    </h6>
                                    <hr />
                                </div>

                            </div>

                            <div class=" row" ng-if="internacion.evoluciones.length > 0">
                                <div class="col-lg-2">
                                    <span class="text-uppercase">Signos vitales</span>
                                    <br />
                                    <strong>Frecuencia cardíaca:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].pulso}} PPM
                                    <br />
                                    <strong>Frecuencia respiratoria:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].respiracion}} PPM
                                    <br />
                                    <strong>Tensión diastólica:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].tensionDiastolica}} mmHG
                                    <br />
                                    <strong>Tensión sistólica:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].tensionSistolica}} mmHG
                                </div>
                                <div class="col-lg-2 br">
                                    <br />
                                    <strong>Temperatura:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].temperatura}} ºC
                                    <br />
                                    <strong>Saturación O<sub>2</sub>:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].sp02}} %
                                    <br />
                                    <strong>Peso:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].peso}} kgs
                                    <br />
                                    <br />
                                </div>
                                <div class="col-lg-2">
                                    <span class="text-uppercase">Ingresos</span>
                                    <br />
                                    <strong>ATB:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].ingresos.atb}} ml
                                    <br />
                                    <strong>HEMO.:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].ingresos.hemo}} ml
                                    <br />
                                    <strong>NP:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].ingresos.np}} ml
                                    <br />
                                    <strong>Prep.:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].ingresos.prep}} ml
                                </div>
                                <div class="col-lg-1 br">
                                    <br />
                                    <strong>H<sub>2</sub>O:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].ingresos.h2o}} ml
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                </div>

                                <div class="col-lg-2">
                                    <span class="text-uppercase">Egresos</span>
                                    <br />
                                    <strong>Lavado Vesical I:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.lavadoVeasicalI}} ml
                                    <br />
                                    <strong>Lavado Vesical II:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.lavadoVeasicalI}} ml
                                    <br />
                                    <strong>Diuresis:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.diuresis}} ml
                                    <br />
                                    <strong>Catarsis:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.catarsis}} ml
                                </div>
                                <div class="col-lg-2 br">
                                    <br />
                                    <strong>S.N.G:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.sng}} ml
                                    <br />
                                    <strong>S.N.Y:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].sny}} ml
                                    <br />
                                    <strong>Ostomias I:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.ostomias}} ml
                                    <br />
                                    <strong>Ostomias II:</strong> {{internacion.evoluciones[internacion.evoluciones.length-1].egresos.ostomias}} ml
                                    <!-- Drenajes -->
                                </div>
                                <div class="col-lg-1">
                                    <span class="text-uppercase">
                                        Balance</span>
                                        <i class="verde mdi mdi-trending-up" ng-if="internacion.evoluciones[internacion.evoluciones.length-1].$balance < 0"></i>
                                        <i class="celeste mdi mdi-trending-flat" ng-if="internacion.evoluciones[internacion.evoluciones.length-1].$balance == 0"></i>
                                        <i class="rojo mdi mdi-trending-down" ng-if="internacion.evoluciones[internacion.evoluciones.length-1].$balance > 0"></i>
                                    </span>

                                    <br />
                                    <span>
                                        <strong>I =</strong>
                                        {{internacion.evoluciones[internacion.evoluciones.length-1].$total_ingresos}}
                                        <br/>
                                        <strong>E =</strong>
                                        {{internacion.evoluciones[internacion.evoluciones.length-1].$total_egresos}}
                                    </span>

                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <textarea label="Descripción" placeholder="Consignar los tratamientos y cuidados efectuados y los síntomas observados" plex-focus="true" ng-model="evolucionesEdit.texto" plex ng-required="true" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-block margin-top text-right">
                            <button type="button" class="btn btn-default btn-flat" ng-click="cancelarEdicion();">Cancelar</button>
                            <button class="btn btn-primary" plex-submit="guardarEvolucion(evolucionesEdit)" ng-disabled="formEditarEvolucion.$invalid"><i class="mdi mdi-content-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </ng-form>

    </div>

</div>
<!-- TODO ocultar tab ingresos liquidos si es medico
ng-if='Session.variables.prestaciones_workflow == "enfermero"'
-->
<!-- TODO ocultar tab egresos liquidos si es medico
ng-if='Session.variables.prestaciones_workflow == "enfermero"'
-->
