<div ng-controller="internacion/iHojaTratamiento">
    <!-- <pre>
        {{indicacion | json}}
    </pre> -->
    <div class="card-block" ng-show="show_toolbar_tratamientos">
        <div class="row">
            <div class="col-xs-4">
                <h3>Hoja de tratamiento</h3>
            </div>
            <div class="col-xs-4">
                <div class="form-group"></div>
            </div>
            <div class="col-xs-2">
                <div class="form-group"></div>
            </div>
            <!-- <div class="col-xs-6 col-lg-2 text-right">
                <div class="form-group">
                    <select class="form-control" label="Servicio" ng-model="filtros.servicio" ng-change="filtros.filtrar()" plex="(servicio.nombreCorto) for servicio in servicios"></select>
                </div>
            </div> -->

            <div class="col-xs-2 text-right" ng-show="show_toolbar_tratamientos">
                <br/>
                <button class="btn btn-primary form-control" ng-click="tratamientos.editar();">
                    Nuevo tratamiento
                </button>
            </div>
        </div>

        <table class="table table-hover table-striped" ng-if="internacion.tratamientos && internacion.tratamientos.length > 0">
            <thead >
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Usuario / Servicio
                    </th>
                    <th >

                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr data-ng-repeat="item in filtros.problemas | orderBy: '-fechaDesde'"> -->
                <tr data-ng-repeat="item in filtros.tratamientos | orderBy: '-fecha'">
                    <td >
                        {{item.fecha | date: "dd/MM/yyyy HH:mm"}}
                    </td>
                    <td >
                        {{item.createdBy.name}}
                        <br/>
                        {{item.servicio.nombreCorto}}
                    </td>
                    <td >
                        <button class="btn btn-default btn-flat tips" title="Editar tratamiento" ng-click="tratamientos.editar(item);" ng-disabled="Session.user.id != item.createdBy.id">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-flat tips" title="Ver tratamiento" ng-click="tratamientos.ver(item);" >
                            <i class="mdi mdi-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-if="!internacion.tratamientos.length">No se han cargado tratamientos</p>
    </div>

    <div ng-if="tratamientosEdit">
        <ng-form name="formEditarTratamiento">

            <!-- <legend>{{tituloFormulario}}</legend> -->
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Tratamiento</legend>
                            <input type="text" label="Fecha" ng-model="tratamientosEdit.fecha" plex="date">
                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <fieldset>
                            <legend>Cargar nueva indicacion</legend>
                            <div class="row">
                                <div class="col-lg-2">
                                    <select label="Tipo de indicación" ng-model="indicacion.tipo" plex="(tipo.nombre) for tipo in tiposIndicaciones" ng-change="getOpcionesIndicacion()"></select>
                                </div>

                                <!-- Otra indicacion -->
                                <div ng-if="!indicacion.tipo || indicacion.tipo.nombre == 'Otra indicación'">
                                    <div class="col-lg-7">
                                        <input type="text" label="Descripción" ng-model="indicacion.descripcion" plex />
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Vía" ng-model="indicacion.via" plex>
                                            <option value="SC">Subcutánea</option>
                                            <option value="EV">Endovenosa</option>
                                            <option value="VO">Oral</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Frecuencia" ng-model="indicacion.frecuencia" plex>
                                            <option value="unica">Única dosis</option>
                                            <option value="24">Una vez al día</option>
                                            <option value="12">Cada 12 hs.</option>
                                            <option value="8">Cada 8 hs.</option>
                                            <option value="6">Cada 6 hs.</option>
                                            <option value="4">Cada 4 hs.</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Heparina o Profilaxis / Proteccion gastrica / Otar medicacion -->
                                <div ng-if="indicacion.tipo.nombre == 'Heparina o profilaxis' ||
                                    indicacion.tipo.nombre == 'Protección gástrica' || indicacion.tipo.nombre == 'Otra medicación'">
                                    <div class="col-lg-7">
                                        <input type="text" label="Descripción" ng-model="indicacion.medicamento.descripcion" plex />
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Vía" ng-model="indicacion.via" plex>
                                            <option value="SC">Subcutánea</option>
                                            <option value="EV">Endovenosa</option>
                                            <option value="VO">Oral</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Frecuencia" ng-model="indicacion.frecuencia" plex>
                                            <option value="unica">Única dosis</option>
                                            <option value="24">Una vez al día</option>
                                            <option value="12">Cada 12 hs.</option>
                                            <option value="8">Cada 8 hs.</option>
                                            <option value="6">Cada 6 hs.</option>
                                            <option value="4">Cada 4 hs.</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Plan de Hidratacion -->
                                <div ng-if="indicacion.tipo.nombre == 'Plan Hidratación'">
                                    <div class="col-lg-1">
                                        <select label="Tipo plan" ng-model="indicacion.planHidratacion.tipoPlan" plex>
                                            <option value="Parenteral">Parenteral</option>
                                            <option value="Enteral">Enteral</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" label="Cantidad" ng-model="indicacion.planHidratacion.cantidad" suffix="ml" plex ng-required="true" />
                                    </div>
                                    <div class="col-lg-2">
                                        <select label="Tipo de solución" ng-model="indicacion.planHidratacion.tipoSolucion" plex="(opcion.nombre) for opcion in tiposSoluciones" ></select>
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Vía" ng-model="indicacion.via" plex>
                                            <option value="SC">Subcutánea</option>
                                            <option value="EV">Endovenosa</option>
                                            <option value="VO">Oral</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-1">
                                        <select label="Frecuencia" ng-model="indicacion.frecuencia" plex>
                                            <option value="unica">Única dosis</option>
                                            <option value="24">Una vez al día</option>
                                            <option value="12">Cada 12 hs.</option>
                                            <option value="8">Cada 8 hs.</option>
                                            <option value="6">Cada 6 hs.</option>
                                            <option value="4">Cada 4 hs.</option>
                                        </select>
                                    </div>
                                        <!-- <input type="text" label="Descripción" ng-model="indicacion.descripcion" ng-show="!opcionesIndicacion.length" plex />
                                        <select label="Indicación" ng-model="indicacion.opcionIndicacion" plex="(opcion.nombre) for opcion in opcionesIndicacion" ng-show="opcionesIndicacion.length > 0"></select> -->
                                </div>

                                <!-- Controles -->
                                <div ng-if="indicacion.tipo.nombre == 'Controles'">
                                    <div class="col-lg-7">
                                        <select label="Tipo de control" ng-model="indicacion.controles.tipo" plex="(opcion.nombre) for opcion in tiposControles" ></select>
                                    </div>

                                    <div class="col-lg-2">
                                        <select label="Frecuencia" ng-model="indicacion.frecuencia" plex>
                                            <option value="unica">Única dosis</option>
                                            <option value="24">Una vez al día</option>
                                            <option value="12">Cada 12 hs.</option>
                                            <option value="8">Cada 8 hs.</option>
                                            <option value="6">Cada 6 hs.</option>
                                            <option value="4">Cada 4 hs.</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Controles generales -->
                                <div ng-if="indicacion.tipo.nombre == 'Cuidados generales'">
                                    <div class="col-lg-7">
                                        <select label="Tipo de control" ng-model="indicacion.cuidadosGenerales.tipo" plex="(opcion.nombre) for opcion in tiposCuidadosGenerales" ></select>
                                    </div>

                                    <div class="col-lg-2">
                                        <select label="Vía" ng-model="indicacion.via" plex>
                                            <option value="SC">Subcutánea</option>
                                            <option value="EV">Endovenosa</option>
                                            <option value="VO">Oral</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Controles especiales -->
                                <!-- <div ng-if="indicacion.tipo.nombre == 'Cuidados especiales'">
                                    <div class="col-lg-7">
                                        <select label="Tipo de control" ng-model="indicacion.controles.tipo" plex="(opcion.nombre) for opcion in tiposControles" ></select>
                                    </div>
                                </div> -->

                                <!-- Dieta -->
                                <!-- <div class="col-lg-1">
                                    <div ng-if="indicacion.tipo.nombre == 'Heparina o profilaxis' || indicacion.tipo.nombre == 'Plan Hidratación' ||
                                        indicacion.tipo.nombre == 'Protección gástrica' || indicacion.tipo.nombre == 'Otra medicación'">
                                        <select label="Vía" ng-model="indicacion.via" plex>
                                            <option value="SC">Subcutánea</option>
                                            <option value="EV">Endovenosa</option>
                                            <option value="VO">Oral</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div ng-if="indicacion.tipo.nombre == 'Solicitud prestaciones'">
                                    <!-- <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" label="Fecha pedido" ng-model="prestacionesEdit.fechaHora" plex="date">
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <input type="text" label="Hora pedido" ng-model="prestacionesEdit.fechaHora" plex="time">
                                        </div>
                                    </div> -->

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select label="Prioridad" ng-model="prestacionesEdit.prioridad" plex="(item.nombre) for item in prioridad"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <select label="Tipo prestación" ng-model="prestacionesEdit.tipoPrestacion" min="3" plex="(item.nombre + ' (' + item.grupo + ')') for item in buscarTipoPrestacion($value)" required></select>
                                        </div>
                                    </div>

                                    <!-- <div class="col-xs-2" ng-if="prestacionesEdit.id">
                                        <div class="form-group">
                                            <input type="text" label="Fecha turno" ng-model="prestacionesEdit.turnoFechaHora" plex="date" />
                                        </div>
                                    </div>

                                    <div class="col-xs-2" ng-if="prestacionesEdit.id">
                                        <div class="form-group">
                                            <input type="text" label="Hora turno" ng-model="prestacionesEdit.turnoFechaHora" plex="time" />
                                        </div>
                                    </div> -->

                                    <div class="col-xs-5">
                                        <input type="text" label="Texto" ng-model="prestacionesEdit.texto" plex class="form-control" required/>
                                    </div>
                                </div>

                                <div ng-if="indicacion.tipo.nombre == 'Dieta'">
                                    <div class="col-lg-6">
                                        <label>
                                            Dieta
                                        </label>

                                        <div class="row">
                                            <div class="col-lg-3">
                                                <input type="checkbox" label="Ayuno" ng-model="indicacion.dieta.tipo.ayuno" plex="checkbox">
                                                <input type="checkbox" label="General" ng-model="indicacion.dieta.tipo.general" plex="checkbox">
                                                <input type="checkbox" label="Diabético" ng-model="indicacion.dieta.tipo.diabetico" plex="checkbox">
                                                <input type="checkbox" label="Insuficiencia renal" ng-model="indicacion.dieta.tipo.insuficienciaRenal" plex="checkbox">
                                                <input type="checkbox" label="Hepato/Gastro protectora" ng-model="indicacion.dieta.tipo.hepatoGastroProtectora" plex="checkbox">
                                                <input type="checkbox" label="Líquido 01" ng-model="indicacion.dieta.tipo.liquido01" plex="checkbox">

                                            </div>
                                            <div class="col-lg-3">
                                                <input type="checkbox" label="Blando sin carne 02" ng-model="indicacion.dieta.tipo.blandoSinCarne02" plex="checkbox">
                                                <input type="checkbox" label="Blando con carne 03" ng-model="indicacion.dieta.tipo.blandoConCarne03" plex="checkbox">
                                                <input type="checkbox" label="Individual" ng-model="indicacion.dieta.tipo.individual" plex="checkbox">
                                                <input type="checkbox" label="Pediátrico 1-2" ng-model="indicacion.dieta.tipo.pediatrico1_2" plex="checkbox">
                                                <input type="checkbox" label="Lactante 1-2" ng-model="indicacion.dieta.tipo.lactante1_2" plex="checkbox">
                                                <input type="checkbox" label="Blando mecánico" ng-model="indicacion.dieta.tipo.blandoMecanico" plex="checkbox">
                                            </div>
                                            <div class="col-lg-3">

                                                <input type="checkbox" label="Acompañante" ng-model="indicacion.dieta.tipo.acompanante" plex="checkbox">
                                                <input type="checkbox" label="Licuado" ng-model="indicacion.dieta.tipo.licuado" plex="checkbox">
                                                <input type="checkbox" label="Rico en residuo" ng-model="indicacion.dieta.tipo.ricoEnResiduo" plex="checkbox">
                                                <input type="checkbox" label="Astringente" ng-model="indicacion.dieta.tipo.astringente" plex="checkbox">
                                                <input type="checkbox" label="Sin sal" ng-model="indicacion.dieta.tipo.sinSal" plex="checkbox">
                                                <input type="checkbox" label="Sin gluten" ng-model="indicacion.dieta.tipo.sinGluten" plex="checkbox">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="checkbox" label="Todo cocido" ng-model="indicacion.dieta.tipo.todoCocido" plex="checkbox">
                                                <input type="checkbox" label="Hiper con colacion" ng-model="indicacion.dieta.tipo.hiperConColacion" plex="checkbox">
                                                <input type="checkbox" label="Nada por boca" ng-model="indicacion.dieta.tipo.nadaPorBoca" plex="checkbox">
                                                <input type="checkbox" label="Hipocalórico" ng-model="indicacion.dieta.tipo.hipocalorico" plex="checkbox">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-1">
                                    <br/>
                                    <div ng-show="editandoIndicacion">
                                        <button type="button" class="btn btn-default tips" title="Cancelar edición de la indicación" ng-click="indicaciones.cancelar()">
                                            <i class="mdi mdi-block-helper"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-flat tips" title="Guardar indicación" ng-click="indicaciones.guardar()">
                                            <i class="mdi mdi-content-save"></i>
                                        </button>
                                    </div>
                                    <div ng-show="!editandoIndicacion">
                                        <button type="button" class="btn btn-success btn-flat tips" title="Agregar la indicación" ng-click="indicaciones.agregar()">
                                            <!-- <i class="mdi mdi-plus"></i> -->
                                            Agregar
                                        </button>
                                    </div>

                                </div>
                            </div>

                            <!-- Opciones para los agregados del plan de hidratacion -->
                            <div ng-if="indicacion.tipo.nombre == 'Plan Hidratación'">
                                <div class="row">
                                    <div class="col-lg-2 text-right">
                                        <br />
                                        <b>Agregados</b>
                                    </div>

                                    <div class="col-lg-2">
                                        <select label="Tipo agregado" ng-model="agregado.tipoAgregado" plex="(agregado.nombre) for agregado in tiposAgregados"  ></select>
                                    </div>

                                    <div class="col-lg-2">
                                        <input type="text" label="Descripción" ng-model="agregado.descripcion" plex />
                                    </div>

                                    <div class="col-lg-1">
                                        <br />
                                        <!-- <button type="button" class="btn btn-success btn-flat tips" title="Agregar preparado" ng-click="editarAgregado()">
                                            <i class="mdi mdi-plus"></i>
                                        </button> -->

                                        <div ng-show="editandoAgregado">
                                            <button type="button" class="btn btn-default tips" title="Cancelar edición del agregado" ng-click="agregados.cancelar()">
                                                <i class="mdi mdi-block-helper"></i>
                                            </button>
                                            <button type="button" class="btn btn-success btn-flat tips" title="Guardar agregado" ng-click="agregados.guardar()">
                                                <i class="mdi mdi-content-save"></i>
                                            </button>
                                        </div>
                                        <div ng-show="!editandoAgregado">
                                            <button class="btn btn-default btn-flat tips" title="Agregar" ng-click="agregados.editar()" >
                                                <i class="mdi mdi-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"  ng-if="!editandoAgregado && indicacion.planHidratacion.agregados.length > 0">
                                    <div class="col-lg-offset-2 col-lg-5">
                                        <legend>Agregados</legend>
                                        <table class="table table-condensed">
                                            <thead>
                                                <th>#</th>
                                                <th>Tipo</th>
                                                <th>Cantidad</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="agregado in indicacion.planHidratacion.agregados">
                                                    <td>{{agregado.posicion+1}}</td>
                                                    <td>
                                                        <span>
                                                            {{agregado.tipoAgregado.nombre ? agregado.tipoAgregado.nombre : agregado.tipoAgregado}}
                                                        </span>
                                                    </td>
                                                    <td>{{agregado.descripcion}} </td>
                                                    <td>
                                                        <button class="btn btn-default btn-flat tips" title="Editar agregado" ng-click="agregados.editar(agregado)" >
                                                            <i class="mdi mdi-pencil"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>

                <div class="row"  ng-if="tratamientosEdit.indicaciones.length > 0 && !editandoIndicacion">
                    <div class="col-lg-12">
                        <legend>Indicaciones</legend>
                        <table class="table table-bordered highlight">
                            <thead>
                                <tr class="exclude">
                                    <th rowspan="2" class="text-center">#</th>
                                    <th rowspan="2" class="text-center vert-align">Medicación / Hidratación / Alimentación parenteral</th>
                                    <th rowspan="2" class="text-center">Vía</th>
                                    <th rowspan="2" class="text-center">Frec.</th>
                                    <th colspan="6" class="text-center">Turno mañana</th>
                                    <th colspan="6" class="text-center">Turno tarde</th>
                                    <th colspan="6" class="text-center">Turno noche</th>
                                    <th colspan="6" class="text-center">Turno madrugada</th>
                                    <th rowspan="2" class="text-center">Acciones</th>
                                </tr>
                                <tr class="exclude">
                                    <th>
                                        07
                                    </th>
                                    <th>
                                        08
                                    </th>
                                    <th>
                                        09
                                    </th>
                                    <th>
                                        10
                                    </th>
                                    <th>
                                        11
                                    </th>
                                    <th>
                                        12
                                    </th>
                                    <th>
                                        13
                                    </th>
                                    <th>
                                        14
                                    </th>
                                    <th>
                                        15
                                    </th>
                                    <th>
                                        16
                                    </th>
                                    <th>
                                        17
                                    </th>
                                    <th>
                                        18
                                    </th>
                                    <th>
                                        19
                                    </th>
                                    <th>
                                        20
                                    </th>
                                    <th>
                                        21
                                    </th>
                                    <th>
                                        22
                                    </th>
                                    <th>
                                        23
                                    </th>
                                    <th>
                                        24
                                    </th>
                                    <th>
                                        01
                                    </th>
                                    <th>
                                        02
                                    </th>
                                    <th>
                                        03
                                    </th>
                                    <th>
                                        04
                                    </th>
                                    <th>
                                        05
                                    </th>
                                    <th>
                                        06
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="indicacion in tratamientosEdit.indicaciones track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        <span>
                                            {{indicacion.tipo.nombre ? indicacion.tipo.nombre : indicacion.tipo }}
                                        </span>
                                        <span ng-if="indicacion.tipo.nombre == 'Plan Hidratación' || indicacion.tipo == 'Plan Hidratación'">
                                            {{indicacion.planHidratacion.tipoPlan.nombre ? indicacion.planHidratacion.tipoPlan.nombre : indicacion.planHidratacion.tipoPlan }}
                                            {{indicacion.planHidratacion.cantidad}} ml
                                            {{indicacion.planHidratacion.tipoSolucion.nombre ? indicacion.planHidratacion.tipoSolucion.nombre : indicacion.planHidratacion.tipoSolucion }}
                                        </span>

                                        <div ng-if="indicacion.planHidratacion.agregados.length" >
                                            <div ng-repeat="agregado in indicacion.planHidratacion.agregados">
                                                +  {{agregado.tipoAgregado.nombre ? agregado.tipoAgregado.nombre : agregado.tipoAgregado}} {{agregado.descripcion}}
                                            </div>
                                        </div>

                                        <div ng-if="indicacion.tipo.nombre == 'Heparina o profilaxis' || indicacion.tipo == 'Heparina o profilaxis'
                                            || indicacion.tipo.nombre == 'Protección gástrica' || indicacion.tipo == 'Protección gástrica'
                                            || indicacion.tipo.nombre == 'Otra medicación' || indicacion.tipo == 'Otra medicación'">
                                            {{indicacion.medicamento.descripcion}}
                                        </div>

                                        <div ng-if="indicacion.tipo.nombre == 'Controles' || indicacion.tipo == 'Controles'">
                                            {{indicacion.controles.tipo}}
                                        </div>

                                        <div ng-if="indicacion.tipo.nombre == 'Cuidados generales' || indicacion.tipo == 'Cuidados generales'">
                                            {{indicacion.cuidadosGenerales.tipo}}
                                        </div>

                                        <div ng-if="indicacion.tipo.nombre == 'Cuidados especiales' || indicacion.tipo == 'Cuidados especiales'">
                                            {{indicacion.cuidadosEspeciales.tipo}}
                                        </div>

                                        <div ng-if="indicacion.tipo.nombre == 'Dieta' || indicacion.tipo == 'Dieta'">
                                            <span ng-show="indicacion.dieta.tipo.ayuno">
                                                Ayuno /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.blandoMecanico">
                                                Blando mecánico /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.general">
                                                General /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.acompanante">
                                                Acompañante /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.diabetico">
                                                Diabético /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.licuado">
                                                Licuado /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.insuficienciaRenal">
                                                Insuficencia renal /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.ricoEnResiduo">
                                                Rico en residuo /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.hepatoGastroProtectora">
                                                Hepato/Gastro protectora /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.astringente">
                                                Astringente /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.liquido01">
                                                Líquido 01 /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.sinSal">
                                                Sin sal /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.blandoSinCarne02">
                                                Blando sin carne 02 /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.blandoConCarne03">
                                                Blando sin carne 03 /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.sinGluten">
                                                Sin Gluten /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.todoCocido">
                                                Todo cocido /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.individual">
                                                Individual /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.hiperConColacion">
                                                Hiper c/colocación /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.pediatrico1_2">
                                                Pediátrico 1 - 2 /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.nadaPorBoca">
                                                Nada por boca /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.lactante1_2">
                                                Lactante 1 - 2 /
                                            </span>
                                            <span ng-show="indicacion.dieta.tipo.hipocalorico">
                                                Hipocalórico /
                                            </span>

                                        </div>
                                    </td>
                                    <td>{{indicacion.via}}</td>
                                    <td>
                                        <span ng-if="indicacion.frecuencia == 'unica'">UD</span>
                                        <span ng-if="indicacion.frecuencia == '24'">Día</span>
                                        <span ng-if="indicacion.frecuencia == '12' || indicacion.frecuencia == '8' || indicacion.frecuencia == '6' || indicacion.frecuencia == '4'">
                                            c/{{indicacion.frecuencia}}
                                            hs
                                        </span>

                                    </td>

                                    <td class="text-center" ng-repeat="hora in horarios">
                                        {{ indicacion.horarios[hora] }}
                                    </td>

                                    <td>
                                        <button class="btn btn-default btn-flat tips" title="Editar indicacion" ng-click="indicaciones.editar(indicacion, $index)" >
                                            <i class="mdi mdi-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <div class="card-block">
                <!-- <div class="row">
                    <div class="col-lg-4">
                        <fieldset>
                            <legend>Controles</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Signos vitales" ng-model="tratamientosEdit.controlSignosVitales" plex="checkbox"/>
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaSignosVitales" ng-if="tratamientosEdit.controlSignosVitales" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Diuresis" ng-model="tratamientosEdit.controlDiuresis" plex="checkbox"/>
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaDiuresis" ng-if="tratamientosEdit.controlDiuresis" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">

                                    <input type="checkbox" label="Peso" ng-model="tratamientosEdit.controlPeso" plex="checkbox"/>
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaPeso" ng-if="tratamientosEdit.controlPeso" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Glasgow" ng-model="tratamientosEdit.controlGlasgow" plex="checkbox"/>
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaGlasgow" ng-if="tratamientosEdit.controlGlasgow" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-4">
                        <fieldset>
                            <legend>Cuidados generales</legend>

                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Rotar decubito" ng-model="tratamientosEdit.rotarDecubito" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaRotarDecubito" ng-if="tratamientosEdit.rotarDecubito" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Aspirar secreciones" ng-model="tratamientosEdit.aspirarSecreciones" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaAspirarSecreciones" ng-if="tratamientosEdit.aspirarSecreciones" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Kinesiología" ng-model="tratamientosEdit.kinesiologia" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaKinesiologia" ng-if="tratamientosEdit.kinesiologia" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Oxígeno l/min" ng-model="tratamientosEdit.oxigeno" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Frecuencia" ng-model="tratamientosEdit.frecuenciaOxigeno" ng-if="tratamientosEdit.oxigeno" plex="(frecuencia.nombre) for frecuencia in frecuencias "></select>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-lg-4">
                        <fieldset>
                            <legend>Cuidados especiales</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="SNG" ng-model="tratamientosEdit.SNG" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Cuál" ng-model="tratamientosEdit.cualSNG" ng-if="tratamientosEdit.SNG" plex>
                                        <option value="SNG1">SNG1</option>
                                        <option value="SNG2">SNG2</option>
                                        <option value="SNG3">SNG3</option>
                                        <option value="SNG4">SNG4</option>
                                        <option value="SNG5">SNG5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Sonda vesical" ng-model="tratamientosEdit.sondaVesical" plex="checkbox">
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="checkbox" label="Aislamiento" ng-model="tratamientosEdit.aislamiento" plex="checkbox">
                                </div>
                                <div class="col-lg-6">
                                    <select hint="Cuál" ng-model="tratamientosEdit.cualAislamiento" ng-if="tratamientosEdit.aislamiento" plex>
                                        <option value="Neutropenico">Neutropénico</option>
                                        <option value="Respiratorio">Respitaorio</option>
                                        <option value="Contacto">De contacto</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div> -->

                <div class="row">
                    <!-- <div class="col-lg-8">
                        <fieldset>
                            <legend>Dieta</legend>
                            <div class="row">
                                <div class="col-lg-3">
                                    <input type="checkbox" label="Ayuno" ng-model="tratamientosEdit.dietaAyuno" plex="checkbox">
                                    <input type="checkbox" label="General" ng-model="tratamientosEdit.dietaGeneral" plex="checkbox">
                                    <input type="checkbox" label="Diabético" ng-model="tratamientosEdit.dietaDiabetico" plex="checkbox">
                                    <input type="checkbox" label="Insuficiencia renal" ng-model="tratamientosEdit.dietaInsuficienciaRenal" plex="checkbox">
                                    <input type="checkbox" label="Hepato/Gastro protectora" ng-model="tratamientosEdit.dietaHepatoGastroProtectora" plex="checkbox">
                                    <input type="checkbox" label="Líquido 01" ng-model="tratamientosEdit.liquido01" plex="checkbox">

                                </div>
                                <div class="col-lg-3">
                                    <input type="checkbox" label="Blando sin carne 02" ng-model="tratamientosEdit.blandoSinCarne02" plex="checkbox">
                                    <input type="checkbox" label="Blando con carne 03" ng-model="tratamientosEdit.blandoConCarne03" plex="checkbox">
                                    <input type="checkbox" label="Individual" ng-model="tratamientosEdit.individual" plex="checkbox">
                                    <input type="checkbox" label="Pediátrico 1-2" ng-model="tratamientosEdit.pediatrico1_2" plex="checkbox">
                                    <input type="checkbox" label="Lactante 1-2" ng-model="tratamientosEdit.lactante1_2" plex="checkbox">
                                    <input type="checkbox" label="Blando mecánico" ng-model="tratamientosEdit.dietaBlandoMecanico" plex="checkbox">
                                </div>
                                <div class="col-lg-3">

                                    <input type="checkbox" label="Acompañante" ng-model="tratamientosEdit.dietaAcompanante" plex="checkbox">
                                    <input type="checkbox" label="Licuado" ng-model="tratamientosEdit.dietaLicuado" plex="checkbox">
                                    <input type="checkbox" label="Rico en residuo" ng-model="tratamientosEdit.dietaRicoEnResiduo" plex="checkbox">
                                    <input type="checkbox" label="Astringente" ng-model="tratamientosEdit.dietaAstringente" plex="checkbox">
                                    <input type="checkbox" label="Sin sal" ng-model="tratamientosEdit.sinSal" plex="checkbox">
                                    <input type="checkbox" label="Sin gluten" ng-model="tratamientosEdit.sinGluten" plex="checkbox">
                                </div>
                                <div class="col-lg-3">
                                    <input type="checkbox" label="Todo cocido" ng-model="tratamientosEdit.todoCocido" plex="checkbox">
                                    <input type="checkbox" label="Hiper con colacion" ng-model="tratamientosEdit.hiperConColacion" plex="checkbox">
                                    <input type="checkbox" label="Nada por boca" ng-model="tratamientosEdit.nadaPorBoca" plex="checkbox">
                                    <input type="checkbox" label="Hipocalórico" ng-model="tratamientosEdit.hipocalorico" plex="checkbox">
                                </div>
                            </div>
                        </fieldset>
                    </div> -->
                    <!-- <div class="col-lg-4">
                        <fieldset>
                            <legend>Preparado enteral</legend>
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" label="Tipo" ng-model="tratamientosEdit.tipoPreparadoEnteral" plex>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" label="Observaciones" ng-model="tratamientosEdit.observacionesPreparadoEnteral" plex>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="text" label="Volúmen 24 hs." ng-model="tratamientosEdit.volumen24hs" plex-suffix="ml" plex>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" label="Cantidad de tomas" ng-model="tratamientosEdit.cantidadDeTomas" plex>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" label="Velocidad (ml/h)" ng-model="tratamientosEdit.velocidad" plex>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div> -->

                <div class="row" ng-show="!editandoIndicacion">
                    <div class="col-lg-12">
                        <div class="card-block margin-top text-right">
                            <button type="button" class="btn btn-default btn-flat" ng-click="tratamientos.cancelar();">Cancelar</button>
                            <button class="btn btn-primary" plex-submit="tratamientos.guardar(tratamientosEdit)" ng-disabled="formEditarTratamiento.$invalid">
                                <i class="mdi mdi-content-save"></i>
                                Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </ng-form>

    </div>
</div>
