<div ng-controller="internacion/iListaProblemas">

    <div class="card-block" ng-show="show_toolbar_problemas">
        <div class="row">
            <div class="col-xs-4">
                <h3>Lista de problemas</h3>
            </div>
            <div class="col-xs-4">
                <div class="form-group"></div>
            </div>
            <div class="col-xs-6 col-lg-2 text-right">
                <div class="form-group">
                    <select class="form-control" label="Servicio" ng-model="filtros.servicio" ng-change="filtros.filtrar()" plex="(servicio.nombreCorto) for servicio in servicios"></select>
                </div>
            </div>

            <div class="col-xs-2 text-right" ng-if="internacion.estado != 'egresado'" ng-show="show_toolbar_problemas">
                <br/>
                <button class="btn btn-primary form-control" ng-click="editarProblema();">
                    Nuevo problema
                </button>
            </div>
        </div>

        <table class="table table-hover table-striped" ng-if="internacion.problemas && internacion.problemas.length > 0" ng-if="!problemasEdit">
            <thead >
                <tr>
                    <th>
                        Problema
                    </th>
                    <th >
                        Descripción
                    </th>
                    <th >
                        Estado
                    </th>
                    <th >
                        Desde
                    </th>
                    <th >
                        Crónico
                    </th>
                    <th >
                        Usuario / Servicio
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in filtros.problemas | orderBy: '-fechaDesde'">
                    <td >
                        {{item.diagnostico.nombre}}

                    </td>
                    <td >
                        {{item.descripcion}}
                    </td>
                    <td >
                        {{item.estado}}
                    </td>
                    <td >
                        {{item.fechaDesde | fromNow }}<br/>
                        <div class="text-muted small">
                            {{item.fechaDesde | date: "dd/MM/yyyy HH:mm"}}
                        </div>
                    </td>
                    <td >
                        <span class="label label-warning" ng-if="item.esCronico">Crónico</span>
                    </td>
                    <td >
                        {{item.createdBy.name}}
                        <br/>
                        {{item.servicio.nombreCorto}}
                    </td>
                    <td >
                        <button class="btn btn-default btn-flat tips" title="Editar problema" ng-click="editarProblema(item);" ng-disabled="Session.user.id != item.createdBy.id">
                            <i class="mdi mdi-pencil"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-if="!internacion.problemas.length">No se han cargado problemas</p>
    </div>

    <div ng-if="problemasEdit">
        <ng-form name="formEditarProblema" ng-show="!loading">

            <!-- <legend>{{tituloFormulario}}</legend> -->

            <div class="row">
                <div class="col-lg-12">

                    <div class="card-block">

                        <fieldset>
                            <legend>Cargar problema</legend>

                            <div class="row">
                                <div class="col-sm-6">
                                    <!-- <input type="text" label="Descripción" ng-model="problemasEdit.descripcion" plex class="form-control" required/> -->
                                    <select label="Diagnóstico" ng-model="problemasEdit.diagnostico" plex="(item.codigo + ' - ' + item.nombre) for item in buscarDiagnostico($value)"></select>

                                </div>
                                <div class="col-sm-6">
                                    <input type="text" label="Escriba el diagnóstico" ng-model="problemasEdit.diagnosticoTexto" plex class="form-control" ng-show="showDiagnosticoTexto" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="text" label="Descripción (examen físico, intensidad, frecuencia, parte del cuerpo afectada, síntomas y otras observaciones)" hint="Escriba sólo detalles permanentes/semipermanentes del problema" ng-model="problemasEdit.descripcion" plex class="form-control" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Inicio estimado</label>
                                    <paciente-selector-fecha fecha="problemasEdit.fechaDesde" ></paciente-selector-fecha>
                                </div>

                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <select label="Estado" ng-model="problemasEdit.estado" plex>
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                            <option value="Resuelto">Resuelto</option>
                                            <option value="Transformado">Transformado</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-xs-3">
                                    <input type="checkbox" label="¿Es crónico?" label-orientation="top" ng-model="problemasEdit.esCronico" plex="switch">
                                </div>

                                <!-- <div class="col-sm-4" ng-if="vista == 'alta' && data.estado.id != Constantes.EstadosProblema.Activo">
                                    <label>Fecha de cambio de estado</label>
                                    <paciente-selector-fecha fecha="data.evolucionFecha" requerido="true"></paciente-selector-fecha>
                                </div> -->
                                <!-- <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-group" ng-class="{'has-error': data.esCronico == undefined}">
                                            <input type="checkbox" label="¿Es un problema crónico?" ng-model="data.esCronico" plex="bool" />
                                        </div>
                                    </div>
                                </div> -->
                            </div>

                            <!-- <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <input type="text" label="Desde" ng-model="problemasEdit.fechaDesde" plex="date">
                                    </div>
                                </div>
                            </div> -->

                        </fieldset>

                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card-block margin-top text-right">
                        <button type="button" class="btn btn-default btn-flat" ng-click="cancelarEdicion();">Cancelar</button>
                        <button class="btn btn-primary" plex-submit="guardarProblema(problemasEdit)" ng-disabled="formEditarProblema.$invalid">
                            <i class="mdi mdi-content-save"></i>
                            Guardar</button>
                    </div>
                </div>
            </div>
        </ng-form>

    </div>
