<div plex-include="'partials/Pacientes/iHeader.html'" plex-include-internacion="internacion" plex-affix></div>
<ng-form>
    <div plex-tabs ng-init="tabs = 0" ng-model="tabs">
        <ul>
            <li>
                <a>
                    <i class="mdi mdi-backburger"></i>
                    <span>Antecedentes</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="mdi mdi-backburger"></i>
                    <span>Enfermedad actual</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="icon-i-mammography"></i>
                    <span>Estudios previos</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="mdi mdi-checkbox-multiple-marked-outline"></i>
                    <span>Examen físico</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="icon-i-cardiology"></i>
                    <span>Examenes complementarios</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="mdi mdi-checkbox-multiple-marked-outline"></i>
                    <span>Impresión diagnóstica</span>
                </a>
            </li>
            <!-- <li>
                <a>
                    <i class="mdi mdi-checkbox-multiple-marked-outline"></i>
                    <span>Hoja de tratamiento</span>
                </a>
            </li> -->
        </ul>
        <!-- Antecedentes -->
        <div class="card card-block">
            <div plex-include="'partials/internacion/iAntecedentes.html'" plex-include-internacion="internacion"></div>
        </div>
        <!-- Enfermedad actual -->
        <div class="card card-block">
            <input type="text" label="Enfermedad actual" ng-model="internacion.ingreso.medico.enfermedadActual" plex>
        </div>
        <!-- Estudios previos -->
        <div class="card card-block">
            <input type="text" label="PAP/HPV" ng-model="internacion.ingreso.estudiosPrevios.pap" plex>
            <input type="text" label="Mamografía" ng-model="internacion.ingreso.estudiosPrevios.mamografia" plex>
            <input type="text" label="Otros" ng-model="internacion.ingreso.estudiosPrevios.otros" plex>
            <input type="text" label="Fecha Serología previa (HIV, Hepatitis B, C, VDRL)" ng-model="internacion.ingreso.estudiosPrevios.fechaSerologiaPrevia" plex>

        </div>
        <!-- Examen físico -->
        <div class="card card-block">
            <input type="text" label="Piel" ng-model="internacion.ingreso.medico.examenFisico.piel" plex>
            <input type="text" label="Cabeza y cuello" ng-model="internacion.ingreso.medico.examenFisico.cabezaCuello" plex>
            <input type="text" label="Tórax / Mamas" ng-model="internacion.ingreso.medico.examenFisico.torax" plex>
            <input type="text" label="Cardiovascular" ng-model="internacion.ingreso.medico.examenFisico.cardiovascular" plex>
            <input type="text" label="Respiratorio" ng-model="internacion.ingreso.medico.examenFisico.respiratorio" plex>
            <input type="text" label="Abdomen" ng-model="internacion.ingreso.medico.examenFisico.abdomen" plex>
            <input type="text" label="Genitales" ng-model="internacion.ingreso.medico.examenFisico.genitales" plex>
            <input type="text" label="Tacto rectal" ng-model="internacion.ingreso.medico.examenFisico.recto" plex>
            <input type="text" label="Osteo Artro Muscular" ng-model="internacion.ingreso.medico.examenFisico.osteoartromuscular" plex>
            <input type="text" label="Neurológico y psiquismo" ng-model="internacion.ingreso.medico.examenFisico.neurologico" plex>
            <input type="text" label="Fondo de ojo" ng-model="internacion.ingreso.medico.examenFisico.fondoOjo" plex>
        </div>
        <!-- Estudios complementarios  -->
        <div class="card card-block">
            <input type="text" label="ECG" ng-model="internacion.ingreso.medico.estudios.ecg" plex>
            <input type="text" label="RX" ng-model="internacion.ingreso.medico.estudios.rx" plex>
            <input type="text" label="Otros estudios" ng-model="internacion.ingreso.medico.estudios.otros" plex>
        </div>
        <!-- Impresión diagnóstica -->
        <div class="card card-block">
            <div class="row">
                <div class="col-lg-2">
                    <input type="text" label="Ingrese signo guía" ng-keypress="checkIfEnterKeyWasPressed($event, 1)" ng-model="positivo" plex/>
                    <table class="table table-bordered" ng-if="internacion.ingreso.medico.impresionDiagnostica.listaPositivos.length > 0">
                        <thead>
                            <th>Signos guía</th>
                            <th>Borrar</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="positivo in internacion.ingreso.medico.impresionDiagnostica.listaPositivos">
                                <td>{{positivo}}</td>
                                <td class="col-lg-1">
                                    <button class="btn btn-default btn-flat" ng-click="removeSignoGuia(positivo)">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2">
                    <input type="text" label="Ingrese sindrome" ng-keypress="checkIfEnterKeyWasPressed($event, 2)" ng-model="sindrome" plex/>
                    <table class="table table-bordered" ng-if="internacion.ingreso.medico.impresionDiagnostica.listaSindromes.length > 0">
                        <thead>
                            <th>Sindromes</th>
                            <th>Borrar</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sindrome in internacion.ingreso.medico.impresionDiagnostica.listaSindromes">
                                <td>{{sindrome}}</td>
                                <td class="col-lg-1">
                                    <button class="btn btn-default btn-flat" ng-click="removeSindrome(sindrome)">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="col-lg-4">
                        <input type="text" label="Ingrese hipótesis" ng-model="hipotesis.nombre" plex/>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" label="Ingrese porcentaje" ng-model="hipotesis.porcentaje" suffix="%" plex="int" plex/>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="btn btn-success btn-flat tips" title="Agregar hipótesis" ng-click="agregarHipotesis()">
                            <i class="mdi mdi-plus"></i>
                        </button>
                    </div>
                    <table class="table table-bordered" ng-if="internacion.ingreso.medico.impresionDiagnostica.listaHipotesis.length > 0">
                        <thead>
                            <th>Hipótesis</th>
                            <th>Porcentaje</th>
                            <th>Borrar</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="hipotesis in internacion.ingreso.medico.impresionDiagnostica.listaHipotesis">
                                <td>{{hipotesis.nombre}}</td>
                                <td>{{hipotesis.porcentaje}}%</td>
                                <td class="col-lg-1">
                                    <button class="btn btn-default btn-flat" ng-click="removeHipotesis(hipotesis)">
                                        <i class="mdi mdi-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-lg-2">
                    <button type="button" class="btn btn-link" ng-click="verTratamiento()">
                        <span>Cargar hoja de tratamiento</span>
                    </button>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <textarea type="text" label="Plan diagnóstico" ng-model="internacion.ingreso.medico.impresionDiagnostica.planDiagnostico" plex></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea type="text" label="Plan terapéutico" ng-model="internacion.ingreso.medico.impresionDiagnostica.planTerapeutico" plex></textarea>
                </div>
            </div> -->
        </div>
        <!-- Hoja tratamiento -->
        <!-- <div class="card card-block">
            <div plex-include="'partials/internacion/iHojaTratamiento.html'" plex-include-internacion="internacion"></div>
        </div> -->
    </div>
    <div class="card card-block margin-top text-right">
        <a class="btn btn-default btn-flat">Cancelar</a>
        <button class="btn btn-primary" plex-submit="guardar()">
            <i class="mdi mdi-content-save"></i>
            <span>Guardar</span>
        </button>
    </div>
</ng-form>
