<div plex-include="'partials/Pacientes/iHeader.html'" plex-include-internacion="internacion"></div>

<div plex-include="'partials/internacion/iEvolucionar.html'" plex-include-internacion="internacion"></div>

<div layout layout-padding layout-pretty>
    <div flex>
        <!-- ****************************** Antecedentes clínicos ****************************** -->
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>Antecedentes clínicos</legend>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type=text label="HTA" ng-model="internacion.antecedentes.hta" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="DBT" ng-model="internacion.antecedentes.diabetes" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="Alergias" ng-model="internacion.antecedentes.alergias" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="Otros" plex/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input type=text label="Medicación Habitual" plex/>
            </div>
        </div>
        <br/>
        <!-- ****************************** Antecedentes Obstétricos ****************************** -->
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>Antecedentes obstétricos (si corresponde)</legend>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input type=text label="Gestas" ng-model="internacion.antecedentes.obstetricos.gestas" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="Partos" ng-model="internacion.antecedentes.obstetricos.partos" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="Cesáreas" ng-model="internacion.antecedentes.obstetricos.cesareas" plex/>
            </div>
            <div class="col-sm-3">
                <input type=text label="Abortos" ng-model="internacion.antecedentes.obstetricos.abortos" plex/>
            </div>
        </div>
        <br/>
        <!-- ****************************** Antecedentes quirúrgicos y/o traumatológicos ****************************** -->
        <div class="row">
            <div class="col-sm-12">
                <fieldset>
                    <legend>Antecedentes Quirúrgicos y/o Traumatológicos</legend>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type=text ng-model="internacion.antecedentes.quirurgicos" plex/>
            </div>
        </div>
        <br/><br/>
    </div>
</div>

<div layout layout-pretty whiteframe>
    <div flex>
        <h3>Pases</h3>
        <md-table-container ng-if="internacion.pases && internacion.pases.length > 0">
            <table md-table class="mdTableSingleSelect">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Fecha</th>
                        <th md-column>Cama</th>
                        <th md-column>Servicio</th>
                        <th md-column>Resumen internación</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="item in internacion.pases | orderBy: '-fechaHora'">
                        <td md-cell>
                            {{item.fechaHora | fromNow }}<br/>
                            <div class="text-muted small">
                                {{item.fechaHora | date: "dd/MM/yyyy HH:mm"}}
                            </div>
                        </td>
                        <td md-cell>
                            {{item.cama.habitacion}}/{{item.cama.numero}}
                        </td>
                        <td md-cell>
                            {{item.servicio.nombreCorto}}
                        </td>
                        <td md-cell></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>

<div layout layout-pretty whiteframe ng-if="internacion.egreso">
    <div flex>
        <h3>Egreso</h3>
        <md-table-container ng-if="internacion.egreso">
            <table md-table class="mdTableSingleSelect">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Fecha</th>
                        <th md-column>Cama</th>
                        <th md-column>Servicio</th>
                        <th md-column>Tipo</th>
                        <th md-column>Resumen</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row >
                        <td md-cell>
                            {{internacion.egreso.fechaHora | fromNow }}<br/>
                            <div class="text-muted small">
                                {{internacion.egreso.fechaHora | date: "dd/MM/yyyy HH:mm"}}
                            </div>
                        </td>
                        <td md-cell>
                            {{internacion.egreso.cama.habitacion}}/{{internacion.egreso.cama.numero}}
                        </td>
                        <td md-cell>
                            {{item.servicio.nombreCorto}}
                        </td>
                        <td md-cell>
                            {{internacion.egreso.tipo}}
                        </td>
                        <td md-cell>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</div>
