 <div class="row">
    <div class="col-md-8">
        <h4 ng-if="indicacion.tipoIndicacion">
            {{indicacion.tipoIndicacion.tipoIndicacion.nombre}}
            /
            {{indicacion.tipoIndicacion.nombre}}
            <!-- <span ng-if="indicacion.tipo == 'Controles'">
                / {{indicacion.controles.tipo}}
            </span>
            <span ng-if="evolucion.tipo == 'enfermero'">
                Evolución enfermería
            </span>
            <span ng-if="evolucion.tipo == 'medico'">
                Evolución médica
            </span> -->
        </h4>
        <h4 ng-if="evolucion.tipo == 'Servicio'">
            Evolución del servicio {{evolucion.servicio.nombreCorto}}
        </h4>
        <span class="text-muted small">
            {{evolucion.fechaHora | fromNow}}
        </span>
    </div>

    <div class="col-md-4">
        <p class=" text-right">
            <i class="fa fa-user"> </i> {{evolucion.createdBy.name}} {{evolucion.servicio.nombreCorto}}

            <br />

            {{evolucion.fechaHora | date: "dd 'de' MMMM 'de' yyyy HH:mm"}} hs

        </p>
    </div>
</div>

<div ng-if="evolucion.signosVitales">
    <div class="row">
        <div class="col-md-2" ng-if="evolucion.signosVitales.pulso">
            <b>
                Frecuencia cardíaca
            </b>
            <br/>
            {{evolucion.signosVitales.pulso}}
            PPM
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.tensionDiastolica && evolucion.signosVitales.circulacion.tensionSistolica">
            <b>
                Tensión
            </b>
            <br/>
            {{evolucion.signosVitales.circulacion.tensionSistolica + "/" + evolucion.signosVitales.circulacion.tensionDiastolica}}
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.temperatura">
            <b>Temperatura</b>
            <br/>
            {{evolucion.signosVitales.temperatura}}ºC
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.respiracion">
            <b>Frecuencia respiratoria</b>
            <br/>
            {{evolucion.signosVitales.respiracion}}
            RPM
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.spo2">
            <b>Saturación O
                <sup>2</sup>
            </b>
            <br/>
            {{evolucion.signosVitales.spo2}}%
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.peso">
            <b>Peso</b>
            <br/>
            {{evolucion.signosVitales.peso}}
            Kg
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.talla">
            <b>Talla</b>
            <br/>
            {{evolucion.signosVitales.talla}}
            cm
        </div>
    </div>
    <div class="row mt">
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.pedio">
            <b>Pulso pedio</b>
            <br/>
            {{evolucion.signosVitales.circulacion.pedio}}
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.popliteo">
            <b>Pulso popliteo</b>
            <br/>
            {{evolucion.signosVitales.circulacion.popliteo}}
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.radial">
            <b>Pulso radial</b>
            <br/>
            {{evolucion.signosVitales.circulacion.radial}}
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.carotideo">
            <b>Pulso carotideo</b>
            <br/>
            {{evolucion.signosVitales.circulacion.carotideo}}
        </div>
        <div class="col-md-2" ng-if="evolucion.signosVitales.circulacion.observacionesCirculacion">
            <b>Observaciones circulación</b>
            <br/>
            {{evolucion.signosVitales.circulacion.observacionesCirculacion}}
        </div>
    </div>
</div>

<!-- completar -->
<div ng-if="evolucion.balance && (evolucion.balance.$total_ingresos || evolucion.balance.$total_egresos)">
    <div class="row">
        <div class="col-md-12">
            <h5>Ingresos <span class="text-muted small">{{evolucion.balance.$total_ingresos}} ml</span></h5>
            <div class="row">
                <div ng-repeat="ingreso in evolucion.balance.ingresos">
                    <div class="col-md-2" ng-if="ingreso.hidratacion.parenteral">
                        Plan de hidratación parenteral
                        <p ng-if="ingreso.hidratacion.parenteral.solucionFisiologica">
                            Solución fisiológica:
                            <b>
                                {{ingreso.hidratacion.parenteral.solucionFisiologica}} ml
                            </b>
                        </p>
                        <p ng-if="ingreso.hidratacion.parenteral.dextrosa">
                            Dextrosa:
                            <b>
                                {{ingreso.hidratacion.parenteral.dextrosa}} ml
                            </b>
                        </p>
                        <p ng-if="ingreso.hidratacion.parenteral.ringerLactato">
                            Ringer-Lactato:
                            <b>
                                {{ingreso.hidratacion.parenteral.ringerLactato}} ml
                            </b>
                        </p>
                    </div>
                    <div class="col-md-2" ng-if="ingreso.hidratacion.enteral">
                        Plan de hidratación enteral
                        <p ng-if="ingreso.hidratacion.enteral.solucionFisiologica">
                            Solución fisiológica:
                            <b>
                                {{ingreso.hidratacion.enteral.solucionFisiologica}} ml
                            </b>
                        </p>
                        <p ng-if="ingreso.hidratacion.enteral.dextrosa">
                            Dextrosa:
                            <b>
                                {{ingreso.hidratacion.enteral.dextrosa}} ml
                            </b>
                        </p>
                        <p ng-if="ingreso.hidratacion.enteral.ringerLactato">
                            Ringer-Lactato:
                            <b>
                                {{ingreso.hidratacion.enteral.ringerLactato}} ml
                            </b>
                        </p>
                    </div>
                    <div class="col-md-2" ng-if="ingreso.hidratacion.oral">
                        <p ng-if="ingreso.hidratacion.oral.cantidad">
                            Hidratación oral:
                            <b>
                                {{ingreso.hidratacion.oral.cantidad}} ml
                            </b>
                        </p>
                    </div>
                    <div class="col-md-2" ng-if="ingreso.medicamentos">
                        <p ng-if="ingreso.medicamentos.cantidad">
                            Medicamentos:
                            <br />
                            <b>
                                {{ingreso.medicamentos.descripcion}}: {{ingreso.medicamentos.cantidad}} ml
                            </b>
                            <span ng-if="ingreso.medicamentos.observaciones">
                                <br />
                                Observaciones: {{ingreso.medicamentos.observaciones}}
                            </span>
                        </p>

                    </div>
                    <div class="col-md-2" ng-if="ingreso.nutricion">
                        Nutrición:
                        <div ng-if="ingreso.nutricion.soporteOral">
                            <p ng-if="ingreso.nutricion.soporteOral.cantidad">
                                Soporte oral:
                                <b>
                                    {{ingreso.nutricion.soporteOral.cantidad}} ml
                                </b>
                            </p>
                        </div>
                        <div ng-if="ingreso.nutricion.enteral">
                            Enteral:
                            <p ng-if="ingreso.nutricion.enteral.cantidad">
                                <b>
                                    {{ingreso.nutricion.enteral.cantidad}} ml
                                </b>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-2" ng-if="ingreso.hemoterapia">
                        <p ng-if="ingreso.hemoterapia.cantidad">
                            Hemoterapia:
                            <b>
                                {{ingreso.hemoterapia.cantidad}} ml
                            </b>
                            <br />
                            {{ingreso.hemoterapia.descripcion}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Egresos <span class="text-muted small">{{evolucion.balance.$total_egresos}} ml</span></h5>
            <div class="row">
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.lavadoVesicalI">
                        Lavado vesical:
                        <b>
                            {{evolucion.balance.egresos.lavadoVesicalI}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.diuresis">
                        Diuresis:
                        <b>
                            {{evolucion.balance.egresos.diuresis}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.catarsis">
                        Catarsis:
                        <b>
                            {{evolucion.balance.egresos.catarsis}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.sng">
                        SNG:
                        <b>
                            {{evolucion.balance.egresos.sng}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.sny">
                        SNY:
                        <b>
                            {{evolucion.balance.egresos.sny}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.ostomias">
                        Ostomías:
                        <b>
                            {{evolucion.balance.egresos.ostomias}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.ostomias2">
                        Ostomías 2:
                        <b>
                            {{evolucion.balance.egresos.ostomias2}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.residuoGastrico">
                        Residuo gástrico:
                        <b>
                            {{evolucion.balance.egresos.residuoGastrico}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-if="evolucion.balance.egresos.secrecionesApiradas">
                        Secreciones aspiradas:
                        <b>
                            {{evolucion.balance.egresos.secrecionesApiradas}} ml
                        </b>
                    </p>
                </div>
                <div class="col-md-2">
                    <p ng-repeat="drenaje in evolucion.balance.egresos.drenajes track by $index">
                        <div ng-show="drenajes[$index].cantidad">
                            {{drenaje.tipo}}, lado
                            {{drenaje.lado}}
                            {{drenajes[$index].cantidad}}
                            ml ({{drenajes[$index].caracteristicaLiquido}})
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Total balance
                <span class="text-muted small">
                    {{evolucion.balance.$balance}} ml
                    <i class="verde mdi mdi-trending-up" ng-if="evolucion.balance.$balance < 0"></i>
                    <i class="celeste mdi mdi-trending-flat" ng-if="evolucion.balance.$balance == 0"></i>
                    <i class="rojo mdi mdi-trending-down" ng-if="evolucion.balance.$balance > 0"></i>
                </span>
            </h5>
        </div>
    </div>
</div>

<div ng-if="evolucion.riesgoCaida.total">
    <div class="row">
        <div class="col-md-2">
            <b>Caídas previas</b>
            <br />
            {{evolucion.riesgoCaida.caidasPrevias}}
        </div>
        <div class="col-md-1">
            <b>Marcha</b>
            <br />
            {{evolucion.riesgoCaida.marcha}}
        </div>
        <div class="col-md-2">
            <b>Ayuda para deambular</b>
            <br />
            {{evolucion.riesgoCaida.ayudaDeambular}}
        </div>
        <div class="col-md-2">
            <b>Venoclisis</b>
            <br />
            {{evolucion.riesgoCaida.venoclisis}}
        </div>
        <div class="col-md-2">
            <b>Comorbilidad</b>
            <br />
            {{evolucion.riesgoCaida.comorbilidad}}
        </div>
        <div class="col-md-1">
            <b>Estado mental</b>
            <br />
            {{evolucion.riesgoCaida.estadoMental}}
        </div>
        <div class="col-md-1">
            <b>Total</b>
            <br />
            {{evolucion.riesgoCaida.total}}

            <span ng-if="evolucion.riesgoCaida.total < 25" class="small padding-left padding-right margin-left nivel-verde">Bajo</span>
            <span ng-if="evolucion.riesgoCaida.total <= 50" class="small padding-left padding-right margin-left nivel-amarillo">Medio</span>
            <span ng-if="evolucion.riesgoCaida.total > 50" class="small padding-left padding-right margin-left nivel-rojo">Alto</span>
        </div>
    </div>
</div>

<div ng-if="evolucion.glasgow">

    <div class="row">
        <div class="col-md-3">
            <b>Ocular</b>
            <br />
            {{evolucion.glasgow.ocular}}
        </div>

        <div class="col-md-3">
            <b>Verbal</b>
            <br />
            {{evolucion.glasgow.verbal}}
        </div>
        <div class="col-md-3">
            <b>Motor</b>
            <br />
            {{evolucion.glasgow.motor}}
        </div>
        <div class="col-md-3">
            <b>Total</b>
            <br />
            {{evolucion.glasgow.total}}

            <span ng-if="evolucion.glasgow.total < 25" class="small padding-left padding-right margin-left nivel-verde">Bajo</span>
            <span ng-if="evolucion.glasgow.total >= 25 && evolucion.glasgow.total <= 50" class="small padding-left padding-right margin-left nivel-amarillo">Medio</span>
            <span ng-if="evolucion.glasgow.total > 50" class="small padding-left padding-right margin-left nivel-rojo">Alto</span>
        </div>
    </div>
</div>

<div ng-if="evolucion.riesgoUPP">
    <div class="row">
        <div class="col-md-2">
            <b>Estado físico</b>
            <br />
            {{evolucion.riesgoUPP.estadoFisico}}
        </div>
        <div class="col-md-2">
            <b>Estado mental</b>
            <br />
            {{evolucion.riesgoUPP.estadoMental}}
        </div>
        <div class="col-md-2">
            <b>Actividad</b>
            <br />
            {{evolucion.riesgoUPP.actividad}}
        </div>
        <div class="col-md-2">
            <b>Movilidad</b>
            <br />
            {{evolucion.riesgoUPP.movilidad}}
        </div>
        <div class="col-md-2">
            <b>Incontinencia</b>
            <br />
            {{evolucion.riesgoUPP.incontinencia}}
        </div>
        <div class="col-md-2">
            <b>Total</b>
            <br />
            {{evolucion.riesgoUPP.total}}

            <span ng-if="evolucion.riesgoUPP.total >= 13 && evolucion.riesgoUPP.total <= 16" class="small padding-left padding-right margin-left nivel-verde">Bajo</span>
            <span ng-if="evolucion.riesgoUPP.total >= 10 && evolucion.riesgoUPP.total <= 12" class="small padding-left padding-right margin-left nivel-amarillo">Medio</span>
            <span ng-if="evolucion.riesgoUPP.total >= 5 && evolucion.riesgoUPP.total <= 9" class="small padding-left padding-right margin-left nivel-rojo">Alto</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Ulceras en el cuerpo</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">

            <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
                <image sketch:type="MSBitmapLayer" width="100%" height="100%" xlink:href="img/hombre-frente.jpg" ></image>

                <g ng-repeat="ele in evolucion.riesgoUPP.lesionesFrente track by $index">
                    <g ng-switch on="ele.tipo">
                        <circle ng-switch-when="0" ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{radius}}" stroke-width="{{sw}}" class="{'focus':ele.f===1} tips" title="{{$index}}">
                            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">{{$index}}</text>
                        </circle>
                    </g>
                </g>
            </svg>
            <p>
                <b>Frente</b>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
                <image sketch:type="MSBitmapLayer" width="100%" height="100%" xlink:href="img/hombre-espalda.jpg" ></image>

                <g ng-repeat="ele in evolucion.riesgoUPP.lesionesEspalda track by $index">
                    <g ng-switch on="ele.tipo">
                        <circle ng-switch-when="0" ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{radius}}" stroke-width="{{sw}}" class="{'focus':ele.f===1} tips" title="{{$index}}">
                            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">{{$index}}</text>
                        </circle>
                    </g>
                </g>
            </svg>
            <p>
                <b>Espalda</b>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
                <image sketch:type="MSBitmapLayer" width="100%" height="100%" xlink:href="img/hombre-izquierda.jpg" ></image>

                <g ng-repeat="ele in evolucion.riesgoUPP.lesionesLadoIzquierdo track by $index">
                    <g ng-switch on="ele.tipo">
                        <circle ng-switch-when="0" ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{radius}}" stroke-width="{{sw}}" class="{'focus':ele.f===1} tips" title="{{$index}}">
                            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">{{$index}}</text>
                        </circle>
                    </g>
                </g>
            </svg>
            <p>
                <b>Lado izquierdo</b>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
                <image sketch:type="MSBitmapLayer" width="100%" height="100%" xlink:href="img/hombre-derecha.jpg" ></image>


                <g ng-repeat="ele in evolucion.riesgoUPP.lesionesLadoDerecho track by $index">
                    <g ng-switch on="ele.tipo">
                        <circle ng-switch-when="0" ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{radius}}" stroke-width="{{sw}}" class="{'focus':ele.f===1} tips" title="{{$index}}">
                            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="2px" dy=".3em">{{$index}}</text>
                        </circle>
                    </g>
                </g>
            </svg>
            <p>
                <b>Lado derecho</b>
            </p>
        </div>
    </div>
</div>

<div ng-if="evolucion.dolorValoracion.intensidad">
    <div class="row">
        <div class="col-md-3">
            <b>Ansiolíticos previos</b>
            <br />
            <span ng-if="evolucion.dolorValoracion.ansioliticosAutomedicacion">Automedicación</span>
            <span ng-if="!evolucion.dolorValoracion.ansioliticosAutomedicacion">Indicada por médico</span>
        </div>
        <div class="col-md-3">
            <b>Intensidad</b>
            <br />
            <span ng-if="evolucion.dolorValoracion.intensidad == 0">Sin dolor</span>
            <span ng-if="evolucion.dolorValoracion.intensidad == 10">Máximo dolor</span>
            <span ng-if="evolucion.dolorValoracion.intensidad > 0 && evolucion.dolorValoracion.intensidad < 10">{{evolucion.dolorValoracion.intensidad}}</span>
        </div>
        <div class="col-md-3">
            <b>Características del dolor</b>
            <br />
            <span ng-if="evolucion.dolorValoracion.punzante">Punzante</span>
            <br />
            <span ng-if="evolucion.dolorValoracion.tipoColico">Tipo cólico</span>
            <br />
            <span ng-if="evolucion.dolorValoracion.pesadez">Pesadez</span>
            <br />
            <span ng-if="evolucion.dolorValoracion.pulsante">Pulsante</span>
            <br />
            <span ng-if="evolucion.dolorValoracion.hormigueo">Hormigueo</span>
        </div>
        <div class="col-md-3">
            <b>Observaciones</b>
            <br />
            <div ng-if="evolucion.dolorValoracion.descripcion">
                <b>Descripcion:</b>
                {{evolucion.dolorValoracion.descripcion}}
                <br />
            </div>
            <div ng-if="evolucion.dolorValoracion.dolorLocalizacion">
                <b>Localización dolor:</b>
                {{evolucion.dolorValoracion.dolorLocalizacion}}
                <br />
            </div>
            <div ng-if="evolucion.dolorValoracion.observacionesDolor">
                <b>Observaciones:</b>
                {{evolucion.dolorValoracion.observacionesDolor}}
                <br />
            </div>
        </div>
    </div>
</div>

<div ng-if="evolucion.aislamiento">
    <div class="row">
        <div class="col-md-12">
            {{evolucion.aislamiento.descripcion}}
        </div>
    </div>
</div>

<div ng-if="evolucion.rotarDecubito">
    Punto apoyo: {{evolucion.rotarDecubito.puntoApoyo}}
    <br />
    Posición: {{evolucion.rotarDecubito.posicion}}
</div>

<div ng-if="evolucion.medicamento">
    {{evolucion.medicamento.descripcion}}
    <br />
    Suministrado:
    <span ng-if="evolucion.medicamento.suministrado">Si</span>
    <span ng-if="!evolucion.medicamento.suministrado">No</span>
</div>

<div ng-if="evolucion.flebitis">
    <div class="row">
        <div class="col-md-2">
            Grado flebitis: {{evolucion.flebitis.grado}}
        </div>

    </div>
</div>

<div ng-if="evolucion.otraIndicacion">
    Indicacion:
    <b>
        {{evolucion.otraIndicacion.descripcion}}
    </b>
    <br />
    Realizada:
    <span ng-if="evolucion.otraIndicacion.realizado">Si</span>
    <span ng-if="!evolucion.otraIndicacion.realizado">No</span>
</div>

<div ng-if="evolucion.tipo == 'Servicio'">
    <!-- <b>Evolución del servicio {{evolucion.servicio.nombreCorto}}</b>
    <br /> -->
    Texto de la evolución:
    <div ng-bind-html="evolucion.texto"></div>
</div>

<div ng-if="evolucion.catarsis">
    <table width="100%">
        <tr>
            <th>Tipo</th>
            <th>Características</th>
        </tr>
        <tbody>
            <tr>
                <td>
                    {{evolucion.catarsis.tipo}}
                </td>

                <td>
                    {{evolucion.catarsis.caracteristicas}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
