<div ng-controller="internacion/iIndicacion">
    <div class="row">
        <div class="col-lg-12">
            <fieldset>
                <legend>Glasgow</legend>
                <div class="col-lg-3">
                    <label>
                        <b>Ocular</b>
                    </label>
                    <input type="radio" label="1 - Ausencia de respuesta" ng-value="1" ng-model="evolucionesEdit.glasgowOcular" plex="radio">
                    <input type="radio" label="2 - Al dolor" ng-value="2" ng-model="evolucionesEdit.glasgowOcular" plex="radio">
                    <input type="radio" label="3 - A estímulos verbales" ng-value="3" ng-model="evolucionesEdit.glasgowOcular" plex="radio">
                    <input type="radio" label="4 - Espontánea" ng-value="4" ng-model="evolucionesEdit.glasgowOcular" plex="radio">
                </div>
                <div class="col-lg-3">
                    <label>
                        <b>Verbal</b>
                    </label>
                    <input type="radio" label="1 - Ausencia de respuesta" ng-value="1" ng-model="evolucionesEdit.glasgowVerbal" plex="radio">
                    <input type="radio" label="2 - Sonidos incomprensibles" ng-value="2" ng-model="evolucionesEdit.glasgowVerbal" plex="radio">
                    <input type="radio" label="3 - Incoherente" ng-value="3" ng-model="evolucionesEdit.glasgowVerbal" plex="radio">
                    <input type="radio" label="4 - Desorientado/confuso" ng-value="4" ng-model="evolucionesEdit.glasgowVerbal" plex="radio">
                    <input type="radio" label="5 - Orientado" ng-value="5" ng-model="evolucionesEdit.glasgowVerbal" plex="radio">
                </div>
                <div class="col-lg-3">
                    <label>
                        <b>Motor</b>
                    </label>
                    <input type="radio" label="1 - Ausencia de respuesta" ng-value="1" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                    <input type="radio" label="2 - Extensión anormal" ng-value="2" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                    <input type="radio" label="3 - Flexión anormal" ng-value="3" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                    <input type="radio" label="4 - Retirada al dolor" ng-value="4" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                    <input type="radio" label="5 - Localiza el dolor" ng-value="5" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                    <input type="radio" label="6 - Obedece ordenes" ng-value="6" ng-model="evolucionesEdit.glasgowMotor" plex="radio">
                </div>
                <div class="col-lg-3">
                    <label>
                        <b>Total</b>
                    </label>
                    <h4>{{evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular}}</h4>
                    <span ng-if="evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular >= 14" class="small padding-left padding-right margin-left nivel-verde">Leve</span>
                    <span ng-if="evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular >= 9 && evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular <= 13" class="small padding-left padding-right margin-left nivel-amarillo">Moderado</span>
                    <span ng-if="evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular >= 3 && evolucionesEdit.glasgowMotor + evolucionesEdit.glasgowVerbal + evolucionesEdit.glasgowOcular <= 8" class="small padding-left padding-right margin-left nivel-rojo">Grave</span>
                </div>
            </fieldset>
        </div>
    </div>


</div>
