<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Signos vitales</legend>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.pulso" label="Frecuencia cardíaca" suffix="PPM" plex="int" plex/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.respiracion" label="Frecuencia respiratoria" suffix="RPM" plex="int" plex/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.temperatura" label="Temperatura" suffix="º C" plex="float" plex/>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.spo2" label="Saturación O&#178;" suffix="%" plex="int" plex-min="0" plex-max="100" plex/>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.peso" label="Peso" suffix="Kgs" plex="float" plex/>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Circulación</legend>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.tensionDiastolica" label="Tensión diastólica" suffix="mmHG" plex="int" plex/>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" ng-model="evolucionesEdit.tensionSistolica" label="Tensión sistólica" suffix="mmHG" plex="int" plex/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <input type="text" label="Pulso carotídeo" ng-model="evolucionesEdit.carotideo" suffix="PPM" plex="int">
                </div>
                <div class="col-lg-3">
                    <input type="text" label="Pulso radial" ng-model="evolucionesEdit.radial" suffix="PPM" plex="int">
                </div>
                <div class="col-lg-3">
                    <input type="text" label="Pulso poplíteo" ng-model="evolucionesEdit.popliteo" suffix="PPM" plex="int">
                </div>
                <div class="col-lg-3">
                    <input type="text" label="Pulso pedio" ng-model="evolucionesEdit.pedio" suffix="PPM" plex="int">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="text" label="Observaciones" ng-model="evolucionesEdit.observacionesCirculacion" plex="text">
                </div>
            </div>
        </fieldset>
    </div>
</div>
