<div class="card card-block">

    <h4 class="card-title">Valoración del riesgo de desarrollar una úlcera por presión</h4>
    <br/>
    <div class="col-lg-2" style="width: 14%">
        <label>
            <b>Estado físico general</b>
        </label>
        <input type="radio" label="Muy malo" ng-value="1" ng-model="evolucionesEdit.riesgoUPP.estadoFisico" plex="radio">
        <input type="radio" label="Regular" ng-value="2" ng-model="evolucionesEdit.riesgoUPP.estadoFisico" plex="radio">
        <input type="radio" label="Mediano" ng-value="3" ng-model="evolucionesEdit.riesgoUPP.estadoFisico" plex="radio">
        <input type="radio" label="Bueno" ng-value="4" ng-model="evolucionesEdit.riesgoUPP.estadoFisico" plex="radio">
    </div>
    <div class="col-lg-2" style="width: 14%">
        <label>
            <b>Estado mental</b>
        </label>
        <input type="radio" label="Estuporoso/Comatoso" ng-value="1" ng-model="evolucionesEdit.riesgoUPP.estadoMental" plex="radio">
        <input type="radio" label="Confuso" ng-value="2" ng-model="evolucionesEdit.riesgoUPP.estadoMental" plex="radio">
        <input type="radio" label="Apático" ng-value="3" ng-model="evolucionesEdit.riesgoUPP.estadoMental" plex="radio">
        <input type="radio" label="Alerta" ng-value="4" ng-model="evolucionesEdit.riesgoUPP.estadoMental" plex="radio">
    </div>
    <div class="col-lg-2" style="width: 14%">
        <label>
            <b>Actividad</b>
        </label>
        <input type="radio" label="Inmóvil" ng-value="1" ng-model="evolucionesEdit.riesgoUPP.actividad" plex="radio">
        <input type="radio" label="Muy limitada" ng-value="2" ng-model="evolucionesEdit.riesgoUPP.actividad" plex="radio">
        <input type="radio" label="Disminuida" ng-value="3" ng-model="evolucionesEdit.riesgoUPP.actividad" plex="radio">
        <input type="radio" label="Total" ng-value="4" ng-model="evolucionesEdit.riesgoUPP.actividad" plex="radio">
    </div>
    <div class="col-lg-2" style="width: 14%">
        <label>
            <b>Movilidad</b>
        </label>
        <input type="radio" label="Encamado" ng-value="1" ng-model="evolucionesEdit.riesgoUPP.movilidad" plex="radio">
        <input type="radio" label="Sentado" ng-value="2" ng-model="evolucionesEdit.riesgoUPP.movilidad" plex="radio">
        <input type="radio" label="Camina con ayuda" ng-value="3" ng-model="evolucionesEdit.riesgoUPP.movilidad" plex="radio">
        <input type="radio" label="Deambula" ng-value="4" ng-model="evolucionesEdit.riesgoUPP.movilidad" plex="radio">
    </div>
    <div class="col-lg-2" style="width: 14%">
        <label>
            <b>Incontinencia</b>
        </label>
        <input type="radio" label="Urinaria y fecal" ng-value="1" ng-model="evolucionesEdit.riesgoUPP.incontinencia" plex="radio">
        <input type="radio" label="Urinaria o fecal" ng-value="2" ng-model="evolucionesEdit.riesgoUPP.incontinencia" plex="radio">
        <input type="radio" label="Ocasional" ng-value="3" ng-model="evolucionesEdit.riesgoUPP.incontinencia" plex="radio">
        <input type="radio" label="Ninguna" ng-value="4" ng-model="evolucionesEdit.riesgoUPP.incontinencia" plex="radio">
    </div>
    <div class="col-lg-2" style="width: 10%">
        <label>
            <b>Total</b>
        </label>
        <h4>{{evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia}}</h4>
        <span ng-if="evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia >= 13 && evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia <= 16" class="small padding-left padding-right margin-left nivel-verde">Bajo</span>
        <span ng-if="evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia >= 10 && evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia <= 12" class="small padding-left padding-right margin-left nivel-amarillo">Medio</span>
        <span ng-if="evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia >= 5 && evolucionesEdit.riesgoUPP.estadoFisico + evolucionesEdit.riesgoUPP.estadoMental + evolucionesEdit.riesgoUPP.actividad + evolucionesEdit.riesgoUPP.movilidad + evolucionesEdit.riesgoUPP.incontinencia <= 9" class="small padding-left padding-right margin-left nivel-rojo">Alto</span>
    </div>
</div>
