<!DOCTYPE html>
<html lang="es-ar" ng-app="app">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
        <base href="/app/internacion/">
        <title ng-bind="Plex.title"></title>

        <link href="/lib/css/dist/lib.paper.css" rel="stylesheet"/>
        <link href="resources/app.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!--Libraries -->
        <script src="/lib/js/dist/lib.js"></script>

        <script src="js/Utils.js"></script>

        <!--App-->
        <script src="app.js"></script>

        <!-- Services -->
        <script src="js/services/shared.js"></script>
        <script src="js/services/personas.js"></script>

        <!-- Filters -->
        <script src="js/filters/persona.js"></script>

        <!--Controllers -->
        <script src="js/controllers/inicio.js"></script>
        <script src="js/controllers/riesgoCaidas.js"></script>
        <script src="js/controllers/valoracionEnfermeria.js"></script>
        <script src="js/controllers/mapa.js"></script>

        <!-- Internación -->
        <script src="js/controllers/internacion/buscar.js"></script>
        <script src="js/controllers/internacion/editar.js"></script>
        <script src="js/controllers/internacion/egresar.js"></script>
        <script src="js/controllers/internacion/evolucionar.js"></script>
        <script src="js/controllers/internacion/iAntecedentes.js"></script>
        <script src="js/controllers/internacion/iEvolucionar.js"></script>
        <script src="js/controllers/internacion/iGraficoLiquidos.js"></script>
        <script src="js/controllers/internacion/iGraficoTemperatura.js"></script>
        <script src="js/controllers/internacion/iGraficoTension.js"></script>
        <script src="js/controllers/internacion/iGraficoSaturacion.js"></script>
        <script src="js/controllers/internacion/iPrestaciones.js"></script>
        <script src="js/controllers/internacion/ver.js"></script>
        <script src="js/controllers/internacion/valoracionMedica.js"></script>

        <script src="js/controllers/pacientes/iHeader.js"></script>

        <script src="js/controllers/sandbox/test.js"></script>
        <script src="js/controllers/sandbox/personas.js"></script>
        <script src="js/controllers/sandbox/ubicaciones.js"></script>
        <script src="js/controllers/sandbox/internaciones.js"></script>

        <!-- Directives -->
        <script src="js/directives/plexAffix.js"></script>
    </head>
    <body>
        <div ng-if="!Session.isActive()" ng-include="'/lib/html/dist/session.html'"></div>
        <div ng-if="Session.isActive()" ng-include="'/lib/html/dist/main.html'"></div>
    </body>
</html>
