body {
    background-color: #f4f4f4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* components by adminlte  https://almsaeedstudio.com/themes/AdminLTE/index2.html */
.box-body:after,.box-comments .box-comment:after,.box-footer:after,.box-header:after{clear:both}.box{position:relative;border-radius:3px;background:#fff;border-top:3px solid #d2d6de;margin-bottom:20px;width:100%;box-shadow:0 1px 1px rgba(0,0,0,.1)}.box.box-primary{border-top-color:#3c8dbc}.box.box-info{border-top-color:#00c0ef}.box.box-danger{border-top-color:#dd4b39}.box.box-warning{border-top-color:#f39c12}.box.box-success{border-top-color:#00a65a}.box.box-default{border-top-color:#d2d6de}.box.collapsed-box .box-body,.box.collapsed-box .box-footer{display:none}.box .nav-stacked>li{border-bottom:1px solid #f4f4f4;margin:0}.box .nav-stacked>li:last-of-type{border-bottom:none}.box.height-control .box-body{max-height:300px;overflow:auto}.box .border-right{border-right:1px solid #f4f4f4}.box .border-left{border-left:1px solid #f4f4f4}.box.box-solid{border-top:0}.box.box-solid>.box-header .btn.btn-default{background:0 0}.box.box-solid>.box-header .btn:hover,.box.box-solid>.box-header a:hover{background:rgba(0,0,0,.1)}.box.box-solid.box-default{border:1px solid #d2d6de}.box.box-solid.box-default>.box-header{color:#444;background:#d2d6de}.box.box-solid.box-default>.box-header .btn,.box.box-solid.box-default>.box-header a{color:#444}.box.box-solid.box-primary{border:1px solid #3c8dbc}.box.box-solid.box-primary>.box-header{color:#fff;background:#3c8dbc}.box.box-solid.box-primary>.box-header .btn,.box.box-solid.box-primary>.box-header a{color:#fff}.box.box-solid.box-info{border:1px solid #00c0ef}.box.box-solid.box-info>.box-header{color:#fff;background:#00c0ef}.box.box-solid.box-info>.box-header .btn,.box.box-solid.box-info>.box-header a{color:#fff}.box.box-solid.box-danger{border:1px solid #dd4b39}.box.box-solid.box-danger>.box-header{color:#fff;background:#dd4b39}.box.box-solid.box-danger>.box-header .btn,.box.box-solid.box-danger>.box-header a{color:#fff}.box.box-solid.box-warning{border:1px solid #f39c12}.box.box-solid.box-warning>.box-header{color:#fff;background:#f39c12}.box.box-solid.box-warning>.box-header .btn,.box.box-solid.box-warning>.box-header a{color:#fff}.box.box-solid.box-success{border:1px solid #00a65a}.box.box-solid.box-success>.box-header{color:#fff;background:#00a65a}.box.box-solid.box-success>.box-header .btn,.box.box-solid.box-success>.box-header a{color:#fff}.box.box-solid>.box-header>.box-tools .btn{border:0;box-shadow:none}.box.box-solid[class*=bg]>.box-header{color:#fff}.box .box-group>.box{margin-bottom:5px}.box .knob-label{text-align:center;color:#333;font-weight:100;font-size:12px;margin-bottom:.3em}.box>.loading-img,.box>.overlay,.overlay-wrapper>.loading-img,.overlay-wrapper>.overlay{position:absolute;top:0;left:0;width:100%;height:100%}.box .overlay,.overlay-wrapper .overlay{z-index:50;background:rgba(255,255,255,.7);border-radius:3px}.box .overlay>.fa,.overlay-wrapper .overlay>.fa{position:absolute;top:50%;left:50%;margin-left:-15px;margin-top:-15px;color:#000;font-size:30px}.box .overlay.dark,.overlay-wrapper .overlay.dark{background:rgba(0,0,0,.5)}.box-body:after,.box-body:before,.box-footer:after,.box-footer:before,.box-header:after,.box-header:before{content:" ";display:table}.box-header{color:#444;display:block;padding:10px;position:relative}.box-header.with-border{border-bottom:1px solid #f4f4f4}.collapsed-box .box-header.with-border{border-bottom:none}.box-header .box-title,.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{display:inline-block;font-size:18px;margin:0;line-height:1}.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{margin-right:5px}.box-header>.box-tools{position:absolute;right:10px;top:5px}.box-header>.box-tools [data-toggle=tooltip]{position:relative}.box-header>.box-tools.pull-right .dropdown-menu{right:0;left:auto}.btn-box-tool{padding:5px;font-size:12px;background:0 0;color:#97a0b3}.btn-box-tool:hover,.open .btn-box-tool{color:#606c84}.btn-box-tool.btn:active{box-shadow:none}.box-body{padding:10px;border-radius:0 0 3px 3px}.no-header .box-body{border-top-right-radius:3px;border-top-left-radius:3px}.box-body>.table{margin-bottom:0}.box-body .fc{margin-top:5px}.box-body .full-width-chart{margin:-19px}.box-body.no-padding .full-width-chart{margin:-9px}.box-body .box-pane{border-radius:0 0 0 3px}.box-body .box-pane-right{border-radius:0 0 3px}.box-footer{border-top:1px solid #f4f4f4;padding:10px;background-color:#fff;border-radius:0 0 3px 3px}.chart-legend{margin:10px 0}@media (max-width:991px){.chart-legend>li{float:left;margin-right:10px}}.box-comments{background:#f7f7f7}.box-comments .box-comment{padding:8px 0;border-bottom:1px solid #eee}.box-comments .box-comment:after,.box-comments .box-comment:before{content:" ";display:table}.box-comments .box-comment:last-of-type{border-bottom:0}.box-comments .box-comment:first-of-type{padding-top:0}.box-comments .box-comment img{float:left}.box-comments .comment-text{margin-left:40px;color:#555}.box-comments .username{color:#444;display:block;font-weight:600}.box-comments .text-muted{font-weight:400;font-size:12px}
.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{border-top:1px solid #f4f4f4}.table>thead>tr>th{border-bottom:2px solid #f4f4f4}.table tr td .progress{margin-top:5px}.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border:1px solid #f4f4f4}.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-bottom-width:2px}.table.no-border,.table.no-border td,.table.no-border th{border:0}table.text-center,table.text-center td,table.text-center th{text-align:center}.table.align th{text-align:left}.table.align td{text-align:right}
/* end components adminlte */

h1.panel-title {
    font-size: xx-large
}
h2.panel-title {
    font-size: x-large
}
h3.panel-title {
    font-size: large
}
h4.panel-title {
    font-size: medium
}
h5.panel-title {
    font-size: small
}
h6.panel-title {
    font-size: x-small
}

[class*="fa-stack"] + span,
span + [class*="fa-stack"]{
    margin-left: 0;
}

/* checkbox / radios */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}
.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #66ba8a;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #66ba8a;
  background-color: #66ba8a;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}

.btn-disabled {
    background-color: gray;
    border-color: gray;
    /*
cursor: not-allowed;
pointer-events: none;
*/
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* cards */

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px
}
.card-container.hover.manual-flip .card, .card-container:not(.manual-flip):hover .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.card-container.static.hover .card, .card-container.static:hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none
}
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    color: #444
}
.card .footer, .card .motto, .card .profession {
    color: #999;
    text-align: center
}
.back, .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .14)
}
.front {
    z-index: 2
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3
}
.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px
}
.back, .card-container, .front {
    width: 100%;
    height: 420px;
    /*border-radius: 4px;*/
}
.card .cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0
}
.card .cover img {
    width: 100%
}
.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px
}
.card .user img {
    background: #FFF;
    border: 4px solid #FFF;
    width: 100%
}
.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px
}
.card .content .main {
    min-height: 160px
}
.card .back .content .main {
    height: 215px
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
}
.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px
}
.card .profession {
    margin-bottom: 20px
}
.card .footer {
    border-top: 1px solid #EEE;
    margin: 30px 0 0;
    padding: 10px 0 0
}
.card .footer .social-links {
    font-size: 18px
}
.card .footer .social-links a {
    margin: 0 7px
}
.card .footer .btn-simple {
    margin-top: -6px
}
.card .header {
    padding: 15px 20px;
    height: 90px
}
.card .motto {
    border-bottom: 1px solid #EEE;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px
}

.icon .fa.agregar {
    font-size: 160px;
}

/*
.title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%
}
.title small {
    font-size: 17px;
    color: #999;
    text-transform: uppercase;
    margin: 0
}
.space-50 {
    height: 50px;
    display: block
}
.space-200 {
    height: 200px;
    display: block
}
.white-board {
    background-color: #FFF;
    min-height: 200px;
    padding: 60px 60px 20px
}
.ct-heart {
    color: #F74933
}
pre.prettyprint {
    background-color: #fff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left
}
.atv, .str {
    color: #05AE0E
}
.kwd, .pln, .tag {
    color: #3472F7
}
.atn {
    color: #2C93FF
}
.pln {
    color: #333
}
.com {
    color: #999
}
.btn-simple {
    opacity: .8;
    color: #666;
    background-color: transparent
}
.btn-simple:focus, .btn-simple:hover {
    background-color: transparent;
    box-shadow: none;
    opacity: 1
}
.btn-simple i {
    font-size: 16px
}
.navbar-brand-logo {
    padding: 0
}
.navbar-brand-logo .logo {
    border: 1px solid #333;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    width: 60px
}
.navbar .navbar-brand-logo .brand {
    color: #FFF;
    float: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}
.navbar-default .navbar-brand-logo .brand {
    color: #555
}*/
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .back, .front {
        -ms-backface-visibility: visible;
        backface-visibility: visible
    }
    .back {
        visibility: hidden;
        -ms-transition: all .2s cubic-bezier(.92, .01, .83, .67)
    }
    .front {
        z-index: 4
    }
    .card-container.manual-flip.hover .back, .card-container:not(.manual-flip):hover .back {
        z-index: 5;
        visibility: visible
    }
}
.card-container .front {
    /* background: #f3eee6; */
}
.card-container, .front, .back {
    min-height: 380px;
    height: 100%;
}
.card .front .content .main-card {
    min-height: 190px;
    height: 100%;
    width: calc(100% - 40px);
}
.card .back .content .main-card {
    min-height: 190px;
    height: 100%;
    width: calc(100% - 40px);
}
.card .content .footer {
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    padding: 10px 0;
}
.card .content .footer .col-left {
    padding-left: 0;
}
.card .content .footer .col-right {
    padding-left: 0;
    padding-right: 0;
}
.card .back .footer .col-left::after {
    float: right;
    content: " ";
    border-right: 1px dashed #ccc;
    /*padding: 10px 0;
    min-height: 40px;*/
}

.card .back  .content.reparacion  .footer .col-left::after {
    border-right: 0 none;
}

.numero-habitacion {
    background: #f4f4f4;
    color: #000;
    /*
  background: #e2d4c6;
  color: #867E76;
  */
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    font-size: 20px;
}
.flip-button {
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 10px;
    font-size: 20px;
}
.icon {
    text-align: center;
}
.icon .fa {
    font-size: 100px;
}
.icon .fa.agregar {
    font-size: 160px;
}
.desinfectada {
    color: #9cc180;
}
.pep-dpa {
    border-color: blue;
    background: yellow
}
.filtros-habitaciones {
    background-color: #66ba8a;
    border-bottom: 2px solid #559872;
    padding: 0px 10px;
}
.filtros-habitaciones ul{
}
.filtros-habitaciones li {
    padding: 10px;
    color: #fff;
}

.filtros-habitaciones li.mostrar-filtros {padding-right: 0;}

.filtros-habitaciones li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all 0.3s linear;
}
.filtros-habitaciones li a:hover {
    color: #fff;
    background-color: #559872;
    opacity: 1;
}
.filtros-habitaciones li a.active {
    color: #fff;
    background-color: #559872;
}
.filtros-habitaciones li a.active {}

 .container-filtros-avanzados.visible{
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 2500;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;}

@media only screen and (min-width: 1170px) {
    .filtros-avanzados {
    width: 20%;
    }
}

.filtros-avanzados {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
    -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
    transition: transform 0.3s, box-shadow 0.3s;
}
.filtros-avanzados.is-visible {
    z-index: 2000;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.filtros-avanzados.vertical {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: #ffffff;
    box-shadow: 4px 4px 20px transparent;
    z-index: 2;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.6s, box-shadow 0.6s;
    -moz-transition: -moz-transform 0.6s, box-shadow 0.6s;
    transition: transform 0.6s, box-shadow 0.6s;
}

.filtros-avanzados.vertical.is-visible {
    z-index: 2000;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
@media only screen and (max-width: 768px) {

    .filtros-avanzados.vertical {
    height: 100%;
    }
}

.filtros-avanzados h2 {
    background: #66ba8a;
    color: white;
    margin: 0;
    font-size: 20px;
    padding: 10px 0 10px 20px;
    height: 60px;
    line-height: 40px;
}
.filtros-avanzados form {
    padding: 20px 20px;
}
.filtros-avanzados .close-filter {
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    width: 60px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    background: #559872;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 2001;
    text-decoration: none;
    font-size: 25px;
}
.filtros-avanzados.is-visible .close-filter {
    opacity: 1;
}
/*.btn-habitacion {
  color: #ffffff;
  background-color: #C7C7C7;
  border-color: #C7C7C7;
}

.btn-habitacion:hover,
.btn-habitacion:focus,
.btn-habitacion:active,
.btn-habitacion.active,
.open .dropdown-toggle.btn-habitacion {
  color: #ffffff;
  background-color: #BDBBBB;
  border-color: #C7C7C7;
}

.btn-habitacion:active,
.btn-habitacion.active,
.btn-habitacion:target,
.open .dropdown-toggle.btn-habitacion {
  background-image: none;
  color: #000;
  font-weight: bold;
}

.btn-habitacion.disabled,
.btn-habitacion[disabled],
fieldset[disabled] .btn-habitacion,
.btn-habitacion.disabled:hover,
.btn-habitacion[disabled]:hover,
fieldset[disabled] .btn-habitacion:hover,
.btn-habitacion.disabled:focus,
.btn-habitacion[disabled]:focus,
fieldset[disabled] .btn-habitacion:focus,
.btn-habitacion.disabled:active,
.btn-habitacion[disabled]:active,
fieldset[disabled] .btn-habitacion:active,
.btn-habitacion.disabled.active,
.btn-habitacion[disabled].active,
fieldset[disabled] .btn-habitacion.active {
  background-color: #C7C7C7;
  border-color: #C7C7C7;
}

.btn-habitacion .badge {
  color: #C7C7C7;
  background-color: #ffffff;
}*/

/* estilo de boton creado para los filtros */
.btn-filtros {
  color: #FFFFFF;
  background-color: #66BA8A;
  border-color: #559872;
}

.btn-filtros:hover,
.btn-filtros:focus,
.btn-filtros:active,
.btn-filtros.active,
.open .dropdown-toggle.btn-filtros {
  color: #FFFFFF;
  background-color: #559872;
  border-color: #559872;
}

.btn-filtros:active,
.btn-filtros.active,
.open .dropdown-toggle.btn-filtros {
  background-image: none;
}

.btn-filtros.disabled,
.btn-filtros[disabled],
fieldset[disabled] .btn-filtros,
.btn-filtros.disabled:hover,
.btn-filtros[disabled]:hover,
fieldset[disabled] .btn-filtros:hover,
.btn-filtros.disabled:focus,
.btn-filtros[disabled]:focus,
fieldset[disabled] .btn-filtros:focus,
.btn-filtros.disabled:active,
.btn-filtros[disabled]:active,
fieldset[disabled] .btn-filtros:active,
.btn-filtros.disabled.active,
.btn-filtros[disabled].active,
fieldset[disabled] .btn-filtros.active {
  background-color: #66BA8A;
  border-color: #559872;
}

.btn-filtros .badge {
  color: #66BA8A;
  background-color: #FFFFFF;
}

.lista-habitaciones{}
.lista-habitaciones li{ padding-bottom: 10px;}
.lista-habitaciones li:first-child { padding: 0 0 10px 5px;}
.lista-habitaciones li a{ min-width: 65px;}

/*
.lista-habitaciones li{padding: 6px 9px;}
.lista-habitaciones li:first-child { padding: 6px 4px 6px 5px;}
.lista-habitaciones li:nth-child(4){padding-right: 0;}
.lista-habitaciones li:nth-child(5){padding-left: 4px;}
.lista-habitaciones li a{}
*/

a.btn-habitacion {
    color: #ffffff;
    background-color: #C7C7C7;
    border: 1px solid #C7C7C7;
}

a.btn-habitacion:target,
a.btn-habitacion.active {
    color: #ffffff;
    background-color: #66BA8A;
    border-color: #559872;
}


.clickable{cursor: pointer;}
.table-hover > tbody > tr.clickable:hover{background: #dff0d8;}
