/******************************
** Estilos globales
******************************/


/* layout-pretty */

[layout-pretty] > [flex] {
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}
[layout-pretty] > [flex]:last-child {
    margin-right: 0;
}

/* whiteframe */

[flex] [whiteframe] > [flex] {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: white;
}

/* md-data-table */

.mdTableSingleSelect TBODY TR {
    cursor: pointer;
}
.mdTableSingleSelect .md-checkbox-column, .mdTableSingleSelect .md-checkbox-cell {
    display: none;
}

/* md-data-table */

.mdTableSingleSelect TBODY TR {
    cursor: pointer;
}
.mdTableSingleSelect .md-checkbox-column, .mdTableSingleSelect .md-checkbox-cell {
    display: none;
}

/* plex-affix */

.plex-affix {
    /*-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}
.plex-affix.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 100;
    /*
    -moz-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);*/
}
.plex-affix + .plex-affix-spacer {
    display: none;
}
.plex-affix.affix + .plex-affix-spacer {
    display: block;
}

/*
******************************
** Estilos de vistas
******************************
*/

md-toast {
    position: fixed;
}

/*
******************************
** MAPA DE CAMAS
******************************
*/
.filtros md-input-container {
    margin-bottom: 0;
}

.filtros md-input-container .md-errors-spacer {
    display: none;
}

.filtros md-switch {
    margin-bottom: 0;
}

.filtros .button-container {
    margin-top: 0;
}

.card-container {
    margin: 0;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card-container.hover.manual-flip .card, .card-container:not(.manual-flip):hover .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-container.static.hover .card, .card-container.static:hover .card {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background: #FFF;
    border-radius: 4px;
    color: #444;
    margin-right: 16px;
}

.card .footer, .card .motto, .card .profession {
    color: #999;
    text-align: center;
}
.back, .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .14);
}
.front {
    z-index: 2;
}
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 3;
}

/*.back .btn-simple {
    position: absolute;
    left: 0;
    bottom: 4px;
}*/

.back, .card-container, .front {
    width: 100%;
    height: 420px;
}
.card .cover {
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 20px 20px 20px;
    min-height: 225px;
}
.card .content .main {
    /*min-height: 160px;*/
}
.card .back .content .main {
    /*height: 215px;*/
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
}
.card .name.reparacion {
    font-size: 18px;
}
.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.card .profession {
    margin-bottom: 20px;
}
.card .footer {
    border-top: 1px solid #EEE;
    margin: 0;
    padding: 5px 0;
    /*margin: 30px 0 0;
    padding: 10px 0 0;*/
}
.card .header {
    /*padding: 15px 20px;*/
    padding: 10px 0 0 10px;
    height: 60px;
}
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .back, .front {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }
    .back {
        visibility: hidden;
        -ms-transition: all .2s cubic-bezier(.92, .01, .83, .67);
    }
    .front {
        z-index: 4;
    }
    .card-container.manual-flip.hover .back, .card-container:not(.manual-flip):hover .back {
        z-index: 5;
        visibility: visible;
    }
}
.card-container .front {}
.card-container, .front, .back {
    min-height: 380px;
    height: 100%;
    margin-bottom: 16px;
}
.card-container:hover .card .front, .card-container:hover .card .back {
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -kthtml-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.card .front .content .main-card {
    min-height: 190px;
    height: 100%;
    width: calc(100% - 40px);
}
.card .back .content .main-card {
    min-height: 190px;
    height: 100%;
    width: calc(100% - 40px);
}
.card .content .footer {
    /*position: absolute;
    bottom: -20px;
    width: calc(100% - 40px);
    padding: 10px 0;
    min-height: 61px;*/
    padding: 0;
    margin: 0;
}
.card .content .footer .col-left {
    padding-left: 0;
}
.card .content .footer .col-right {
    padding-left: 0;
    padding-right: 0;
}
.card .back .footer .col-left::after {
    float: right;
    content: " ";
    border-right: 1px dashed #ccc;
}
.card .back .content.reparacion .footer .col-left::after {
    border-right: 0 none;
}
.icon .fa.agregar{
    font-size: 160px;
}
.icon .reparacion {
    font-size: 100px;
}
.numero-habitacion {
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 20px;
    display: inline-block;
}
.icon {
    text-align: center;
}
.icono-paciente {
    font-size: 100px;
    cursor: pointer;
}
.icon .fa.agregar {
    font-size: 160px;
}
.stacked-icon {
    margin-top: 8px;
}
.numero-habitacion-header {
    background: #f4f4f4;
    color: #000;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 15px;
}
.btn-buscar-paciente {
    background: white;
}
.btn-buscar-paciente .agregar {
    background: white;
    color: #5F90A7;
}
.grow {
    padding: 0;
    transition: all .2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}
.bg-oxigeno {
    background: #5bc0de;
}
.oxigeno {
    color: #5bc0de;
}
.bg-desinfectar {
    background: #9cc180;
}
.desinfectar {
    color: #9cc180;
}

/* Niveles */

.nivel-verde {
    background: #b1c900;
    color: black;
}
.nivel-amarillo {
    background: #ffeb34;
    color: black;
}
.nivel-rojo {
    background: #e50018;
    color: white;
}
