/* Niveles */
.nivel-verde {
    background: #b1c900;
    color: black;
}
.nivel-amarillo {
    background: #ffeb34;
    color: black;
}
.nivel-rojo {
    background: #e50018;
    color: white;
}

/*  Plex-Affix
------------------------------------------------------------------------
*/

.plex-affix {
    /*-moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}
.plex-affix.affix {
    width: 100%;
    left: 0px;
    z-index: 100;
    /*
    -moz-transform: translate(0, 1px);
    -ms-transform: translate(0, 1px);
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);*/
}
.plex-affix + .plex-affix-spacer {
    display: none;
}
.plex-affix.affix + .plex-affix-spacer {
    display: block;
}
