<input type=text label="Buscar personas por documento o fulltext" ng-model="personas.query" plex>
<table ng-if="personas.data && personas.data.length > 0" class=table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Documento
            </th>
            <th>
                Edad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in personas.data">
            <td>
                {{item.id}}
            </td>
            <td>
                {{item | persona:"an"}}
            </td>
            <td>
                {{item | persona:"d"}}
            </td>
            <td>
                {{item | persona:"e"}}
            </td>
        </tr>
    </tbody>
</table>
<div class="alert alert-info" ng-if="personas.data && personas.data.length == 0">
    ¡No se encontró ningún resultado!
</div>
