<div class="jumbotron">
    <h1>
        <i class="fa fa-bed"></i>
        <span>Sistema de Internación</span>
    </h1>
    <h3>Hola
        {{Session.user.givenName}}</h3>
    <h4>Tu perfil es
        <strong>{{Session.variables.prestaciones_workflow}}</strong>
    </h4>
</div>
<p>
    <a href="mapa">
        <i class="fa fa-bed"></i>
        <span>Mapa de Camas</span>
    </a>
    <br/>
    <a href="sandbox/personas">
        <i class="fa fa-user"></i>
        <span>Personas</span>
    </a>
    <br />
    <a href="internacion/buscar">
        <i class="fa fa-user"></i>
        <span>Internaciones</span>
    </a>
</p>

<div layout>
    <div flex-xs flex-gt-xs="25">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">Mapa de camas</span>
                    <span class="md-subhead">Vea el mapa de cama de internación según su servicio</span>
                </md-card-header-text>
            </md-card-header>

            <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->

            <md-card-title>
                <md-card-title-text>
                    <a href="mapa" class="link-icon">
                        <i class="fa fa-bed"></i>
                    </a>
                </md-card-title-text>
            </md-card-title>

            <!-- <md-card-actions layout="row" layout-align="start center">
                <md-button>Ir</md-button>
            </md-card-actions> -->
        </md-card>
    </div>

    <div flex-xs flex-gt-xs="25">
        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-headline">Internaciones</span>
                    <span class="md-subhead">Busque las internaciones de un paciente</span>
                </md-card-header-text>
            </md-card-header>

            <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->

            <md-card-title>
                <md-card-title-text>
                    <a href="internacion/buscar" class="link-icon">
                        <i class="fa fa-user"></i>
                    </a>
                </md-card-title-text>
            </md-card-title>

            <!-- <md-card-actions layout="row" layout-align="start center">
                <md-button>Ir</md-button>
            </md-card-actions> -->
        </md-card>
    </div>
</div>
