<!-- <h1>Mapa de camas</h1> -->

<!-- <div layout="column" class="md-inline-form" md-scroll-shrink> -->
<md-content layout-padding>

    <form name="filterForm">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label for="filter-nombre">Nombre paciente</label>
                <input type="text" ng-model="filter.nombre" id="filter-nombre"/>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="filter-habitacion">Habitación</label>

                <md-select ng-model="filter.habitacion" id="filter-habitacion">
                    <md-option value="">Todas</md-option>
                    <md-option ng-repeat="habitacion in habitaciones" value="{{habitacion}}">{{habitacion}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="filter-tipo-cama">Tipo de cama</label>

                <md-select ng-model="filter.tipoCama" id="filter-tipo-cama">
                    <md-option value="">Todas</md-option>
                    <md-option ng-repeat="tipoCama in tipoCamas" value="{{tipoCama}}">{{tipoCama}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label for="filter-estado">Estado</label>
                <md-select ng-model="filter.estado" id="filter-estado">
                    <md-option value="">Todas</md-option>
                    <md-option value="ocupada">Ocupadas</md-option>
                    <md-option value="desocupada">Desocupadas</md-option>
                    <md-option value="reparacion">En reparación</md-option>
                </md-select>

            </md-input-container>
            <div flex="5"></div>

            <md-switch ng-model="filter.desinfectada" aria-label="Sin desinfectar">
                Sin desinfectar
            </md-switch>

            <div flex="5"></div>

            <md-switch ng-model="filter.oxigeno" aria-label="Oxígeno">
                Con oxígeno
            </md-switch>

            <div flex="5"></div>
            <md-input-container class="md-block" flex-gt-sm >
                <md-button class="md-raised md-primary" ng-click="filter.limpiarFiltros()">
                    Limpiar filtros
                </md-button>
            </md-input-container>
        </div>
    </form>

</md-content>
<!-- </div> -->

<div layout layout-wrap>
    <div flex="20" flex-xl="20" flex-lg="20" flex-md="33" flex-sm="50" flex-xs="100"  ng-repeat="cama in filter.camas" >
        <div class="card-container manual-flip animate-repeat" ng-class="{'hover': cama.$rotar }" ng-model="cama_actual" layout-margin>
            <div class="card">
                <div class="front">

                    <div class="header" layout>
                        <!-- <md-button class="md-icon-button md-primary pull-right" aria-label="Más opciones" ng-show="cama.paciente.id" ng-click="cama.$rotar = true; cama.$action = 'menu_extra'">
                            <md-icon >menu</md-icon>
                        </md-button> -->
                        <div flex="50">
                            <div class="numero-habitacion">
                                {{cama.habitacion}}
                                /
                                {{cama.numero}}
                            </div>
                        </div>
                    </div>

                    <div class="content">

                        <div class="main cama" layout layout-wrap layout-align="center start">
                            <div class="icon" flex="100">

                                <i class="icono-paciente {{cama.paciente | persona: 'icon'}} " ng-if="cama.paciente.id" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'evolucion'"></i>

                                <md-button class="grow btn-buscar-paciente" aria-label="Agregar paciente en cama" ng-click="buscarPaciente(cama); cama.$action = 'internacion'" ng-if="!cama.paciente.id && cama.estado == 'desocupada'">
                                    <i class="fa fa-user-plus agregar"></i>
                                </md-button>

                            </div>

                            <div ng-if="cama.paciente.apellido">
                                <h3 class="name">
                                    {{cama.paciente | persona:"an"}}
                                </h3>
                                <p class="profession">
                                    {{cama.paciente | persona:"e"}}
                                    /
                                    {{cama.paciente.documento}}
                                </p>
                            </div>

                            <div ng-if="!cama.paciente.id && cama.estado == 'reparacion'">
                                <h3 class="name reparacion">
                                    En reparación desde:
                                    <br/>
                                    {{cama.reparacion.createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}hs
                                    <br/><br/>
                                </h3>
                                <div class="motivo-reparacion">
                                    {{cama.reparacion.motivo | limitTo: 200}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer" layout="column" layout-align="end">
                        <div layout>
                            <div flex="20">
                                <md-tooltip md-direction="top">
                                    Cama con O
                                    <sup>2</sup>
                                </md-tooltip>
                                <i class="stacked-icon material-icons oxigeno" ng-if="cama.oxigeno">battery_full</i>
                            </div>

                            <div flex="20"></div>
                            <div flex="20">
                                <md-button class="md-icon-button" aria-label="Desinfectar cama" ng-click="cambiarEstado(cama, 'desinfectada'); cama.$action = 'desinfectar'" ng-if="!cama.desinfectada">
                                    <md-tooltip md-direction="top">
                                        Desinfectar cama
                                    </md-tooltip>
                                    <md-icon>bug_report</md-icon>
                                </md-button>
                            </div>
                            <div flex="20">
                                <md-menu md-offset="-170 -170" ng-if="cama.paciente.id">
                                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                                        <md-icon md-menu-origin="">more_vert</md-icon>
                                    </md-button>
                                    ​
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button class="" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)" aria-label="Internación">Internación</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="" ng-click="verValoracionInicial(cama.idInternacion)" aria-label="Valoración inicial">Valoración inicial</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class=" " ng-click="egresarPaciente(cama)" aria-label="Egresar">Egresar</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="" ng-click="cargarPrestaciones()">
                                                Cargar prestaciones
                                            </md-button>
                                        </md-menu-item>
                                        <!-- <md-menu-item>
                                            <md-button class="" ng-click="verInternacion(cama.idInternacion)">
                                                Ver internación
                                            </md-button>
                                        </md-menu-item> -->
                                    </md-menu-content>
                                </md-menu>
                            </div>
                            <div flex="20">
                                <md-button class="md-icon-button" aria-label="Evolucionar" ng-click="evolucionarPaciente(cama)" ng-if="cama.paciente.id">
                                    <md-tooltip md-direction="top">
                                        Evolucionar
                                    </md-tooltip>
                                    <md-icon>arrow_upward</md-icon>
                                </md-button>

                                <md-button class="md-icon-button" aria-label="Enviar a reparación / Confirmar reparación" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'reparacion'" ng-if="!cama.paciente.id && (cama.estado == 'desocupada' || cama.estado == 'reparacion')">
                                    <md-tooltip md-direction="top" ng-if="cama.estado != 'reparacion'">
                                        Enviar a reparación
                                    </md-tooltip>
                                    <md-tooltip md-direction="top" ng-if="cama.estado == 'reparacion'">
                                        Confirmar reparación
                                    </md-tooltip>
                                    <md-icon>build</md-icon>
                                </md-button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="header" layout>
                        <div flex="50">
                            <div class="numero-habitacion">
                                {{cama.habitacion}}
                                /
                                {{cama.numero}}
                            </div>
                        </div>
                        <div flex="50">
                            <md-button class="md-icon-button  pull-right" ng-show="cama.paciente.id" ng-click="cama.$rotar = !cama.$rotar">
                                <i class="material-icons">close</i>
                            </md-button>
                        </div>

                    </div>
                    <!-- Ultima evolucion / Evolucionar -->
                    <div ng-if="cama.$action && cama.$action == 'evolucion'">
                        <div class="content">
                            <div class="main " layout layout-wrap>
                                <h5 flex="100">
                                    {{cama.diagnostico}}
                                </h5>
                                <h5 flex="100">
                                    {{cama.motivo_internacion}}
                                </h5>
                                <h4 class="text-center" flex="100">Última evolución</h4>
                                <p ng-if="cama.ultimaEvolucion.createdBy" flex="100">
                                    <i class="fa fa-user-md"></i>
                                    {{cama.ultimaEvolucion.createdBy.name}}
                                    {{cama.ultimaEvolucion.createdAt | fromNow}}
                                    <br/>
                                    ({{cama.ultimaEvolucion.createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}
                                    hs)

                                    <br/>
                                    La próxima evolución deberá realizarse el dd/MM/yyyy a las HH:mm
                                </p>

                                <p ng-if="!cama.ultimaEvolucion.createdBy" flex="100">
                                    Aún no se ha cargado ninguna evolución.
                                    <br/><br/>

                                    <div layout layout-fill>
                                        <md-button class=" md-raised md-primary" flex aria-label="Evolucionar" ng-click="evolucionarPaciente(cama)" ng-if="cama.paciente.id">
                                            Cargar una evolución
                                        </md-button>
                                    </div>

                                </p>
                            </div>

                        </div>
                        <div class="footer" layout="column">
                            <div layout>
                                <div flex="20">
                                    <md-tooltip md-direction="top">
                                        Cama con O
                                        <sup>2</sup>
                                    </md-tooltip>
                                    <i class="stacked-icon material-icons oxigeno" ng-if="cama.oxigeno">battery_full</i>
                                </div>
                                <div flex="20"></div>
                                <div flex="20"></div>

                                <div flex="20">
                                    <md-menu md-offset="-170 -170" ng-if="cama.paciente.id">
                                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                                            <md-icon md-menu-origin="">more_vert</md-icon>
                                        </md-button>
                                        ​
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button class="" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)" aria-label="Internación">Internación</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button class="" ng-click="verValoracionInicial(cama.idInternacion)" aria-label="Valoración inicial">Valoración inicial</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button class=" " ng-click="egresarPaciente(cama)" aria-label="Egresar">Egresar</md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button class="" ng-click="cargarPrestaciones()">
                                                    Cargar prestaciones
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                                <div flex="20">
                                    <md-button class="md-icon-button" aria-label="Evolucionar" ng-click="evolucionarPaciente(cama)" ng-if="cama.paciente.id">
                                        <md-tooltip md-direction="top">
                                            Evolucionar
                                        </md-tooltip>
                                        <md-icon>arrow_upward</md-icon>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Enviar a reparar una cama -->
                    <div ng-if="cama.$action == 'reparacion' && cama.estado == 'desocupada'">
                        <div class="content" ng-class="{'reparacion': cama.$action == 'reparacion' }">
                            <form name="reparacionForm">

                                <div class="main">
                                    <!-- <textarea rows="8" name="motivo_{{$index}}" class="form-control" placeholder="¿Motivo de reparación?" plex ng-required="true" ng-model="cama.$motivo"></textarea> -->
                                    <md-input-container class="md-block">
                                        <textarea rows="6" class="form-control" placeholder="¿Motivo de reparación?" plex ng-required="true" ng-model="cama.$motivo"></textarea>
                                    </md-input-container>

                                </div>

                            </form>

                        </div>
                        <div class="footer">
                            <div layout>
                                <div flex="50">
                                    <md-button class="md-warn md-raised" aria-label="No enviar a reparar" ng-click="cama.$rotar = !cama.$rotar" aria-label="Cerrar">
                                        <md-icon md-font-icon="fa-close" class="fa"></i>
                                    </md-button>
                                </div>

                                <div flex="50">
                                    <md-button class=" md-raised" aria-label="Enviar a reparar" ng-click="reparacionForm.$valid && cambiarEstado(cama, 'reparacion')">
                                        <md-icon md-font-icon="fa-check" class="fa"></i>
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Confirmar reparacion completa de una cama -->
                    <div ng-if="cama.$action && cama.$action == 'reparacion' && cama.estado == 'reparacion'">
                        <div class="content" ng-class="{'reparacion': cama.$action == 'reparacion' }">
                            <div class="main">
                                <p class="text-center">
                                    ¿La cama ha sido reparada?
                                </p>
                            </div>
                        </div>
                        <div class="footer">

                            <div layout>
                                <div flex="50">
                                    <md-button class="md-warn md-raised" aria-label="No" ng-click="cama.$rotar = !cama.$rotar">
                                        <md-icon md-font-icon="fa-close" class="fa"></md-icon>
                                    </md-button>
                                </div>

                                <div flex="50">
                                    <md-button class=" md-raised" aria-label="Si" ng-click="cambiarEstado(cama, 'desocupada')">
                                        <md-icon md-font-icon="fa-check" class="fa"></i>
                                    </md-button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- extra menu -->
                    <!-- <div class="content" ng-if="cama.$action && cama.$action == 'menu_extra'">
                        <div class="main ">
                            <md-button class="md-raised md-primary" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)" aria-label="Internación">Internación</md-button>
                            <md-button class="md-raised md-primary" ng-click="verValoracionInicial(cama.idInternacion)" aria-label="Valoración inicial">Valoración inicial</md-button>
                            <md-button class="md-raised md-primary" ng-click="egresarPaciente(cama)" aria-label="Egresar">Egresar</md-button>
                            <button type="button" class="btn btn-primary col-lg-12 " ng-click="cama.$action = 'pase'">Pase</button>
                        </div>

                        <div class="footer"></div>
                    </div> -->

                    <!-- Poner en pase una internacion -->
                    <!-- <div class="content" ng-if="cama.$action && cama.$action == 'pase'">
                        <div class="main">
                            <p class="text-center">
                                ¿Desea generar el pase?
                            </p>
                        </div>

                        <div class="footer">
                            <form>
                                <layout>
                                    <div flex="50">

                                        <md-button class="md-warn md-raised" aria-label="No" ng-click="cama.$action = 'menu_extra'">
                                            <md-icon md-font-icon="fa-close" class="fa"></md-icon>
                                        </md-button>
                                    </div>

                                    <div flex="50">

                                        <md-button class=" md-raised" aria-label="Si" ng-click="generarPase(cama)">
                                            <md-icon md-font-icon="fa-check" class="fa"></i>
                                        </md-button>

                                    </div>

                                </layout>
                            </form>

                        </div>

                    </div> -->

                </div>

            </div>
        </div>
    </div>

    <md-toolbar class="md-warn" ng-if="filter.camas && filter.camas.length == 0">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">¡No se encontró ninguna cama!</h2>
        </div>
    </md-toolbar>

</div>
