<div class="row " plex-affix>
    <div class="card card-block ">

        <div class="col-lg-3">
            <div class="form-group">
                <input type="text" ng-model="filter.nombre" id="filter-nombre" plex label="Nombre paciente"/>
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <select ng-model="filter.habitacion" label="Habitación" class="form-control" plex>
                    <option value="">Todas</option>
                    <option ng-repeat="habitacion in habitaciones" value="{{habitacion}}">{{habitacion}}</option>
                </select>
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <select ng-model="filter.tipoCama" id="filter-tipo-cama" class="form-control" label="Tipo de cama" plex>
                    <option value="">Todas</option>
                    <option ng-repeat="tipoCama in tipoCamas" value="{{tipoCama}}">{{tipoCama}}</option>
                </select>
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <select ng-model="filter.estado" id="filter-estado" class="form-control" label="Estado" plex>
                    <option value="">Todas</option>
                    <option value="ocupada">Ocupadas</option>
                    <option value="desocupada">Desocupadas</option>
                    <option value="reparacion">En reparación</option>
                </select>
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group"></div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <br/>
                <input type="checkbox" ng-model="filter.desinfectada" label="Sin desinfectar" plex="checkbox">
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <br/>
                <input type="checkbox" ng-model="filter.oxigeno" label="Oxígeno" plex="checkbox">
            </div>
        </div>

        <div class="col-lg-2">
            <div class="form-group">
                <br/>
                <button class="btn btn-default" ng-click="filter.limpiarFiltros()">
                    Limpiar filtros
                </button>
            </div>
        </div>

        <div class="col-lg-1">
            <div class="form-group">
                <br/>
                <button class="btn btn-default layout-view tips" ng-click="layout = 'grid'" ng-class="{'active': layout == 'grid'}" title="Vista de grilla">
                    <i class="mdi mdi-grid"></i>
                </button>

                <button class="btn btn-default layout-view tips" ng-click="layout = 'list'" ng-class="{'active': layout == 'list'}" title="Vista de lista">
                    <i class="mdi mdi-view-list"></i>
                </button>
            </div>
        </div>

    </div>
</div>

<div>
    <!-- Spacer cuando affix está activo -->
</div>

<div class="row" ng-show="layout == 'grid'">
    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12" ng-repeat="cama in filter.camas">
        <div class="cama-container manual-flip animate-repeat" ng-class="{'hover': cama.$rotar }" ng-model="cama_actual">
            <div class="cama">
                <div class="front">

                    <div class="header">
                        <!-- <button class="btn  btn-default pull-right" ng-show="cama.paciente.id" ng-click="cama.$rotar = true; cama.$action = 'menu_extra'">
                            <i class="fa fa-bars"></i>
                        </button> -->

                        <div class="numero-habitacion">
                            {{cama.habitacion}}
                            /
                            {{cama.numero}}
                        </div>
                    </div>

                    <div class="content">

                        <div class="main cama">
                            <div ng-if="cama.idInternacion">
                                <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 0 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total < 25" ng-class="{'verde' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total < 25}" class="mdi mdi-alert tips" title="Riesgo de caídas bajo"></i>
                                <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total >= 25 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total <= 50" ng-class="{'amarillo' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total >= 25 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total <= 50}" class="mdi mdi-alert tips" title="Riesgo de caídas medio"></i>
                                <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 50" ng-class="{'rojo' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 50}" class="mdi mdi-alert tips" title="Riesgo de caídas alto"></i>
                                <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total == 0" class="mdi mdi-alert tips" title="Sin riesgo de caídas"></i>

                                <i class="mdi mdi-thermometer" title="{{cama.$internacion.evoluciones[cama.$internacion.evoluciones.length-1].temperatura}}º C"></i>
                            </div>
                            <div>
                                <div class="icon">

                                    <i class="icono-paciente {{cama.paciente | persona: 'icon'}} " ng-if="cama.paciente.id" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'evolucion'"></i>

                                    <button type="button" class="btn btn-buscar-paciente btn-flat grow tips" title="Agregar paciente en cama" ng-click="buscarPaciente(cama); cama.$action = 'internacion'" ng-if="!cama.paciente.id && cama.estado == 'desocupada'">
                                        <i class="fa fa-bed agregar"></i>
                                    </button>

                                    <span class="fa-stack fa-lg reparacion tips" ng-if="cama.estado == 'reparacion'" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'enviada_reparacion'" title="Cama en reparación">
                                        <i class="fa fa-bed fa-stack-1x"></i>
                                        <i class="fa fa-ban fa-stack-2x"></i>
                                    </span>
                                </div>

                                <div ng-if="cama.paciente.apellido">
                                    <h3 class="name">
                                        {{cama.paciente | persona:"an"}}
                                    </h3>
                                    <p class="profession">
                                        {{cama.paciente | persona:"e"}}
                                        /
                                        {{cama.paciente.documento}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                            <div class="col-xs-3 text-left col-left">
                                <div class="stacked-icon oxigeno tips" ng-if="cama.oxigeno" title="Cama con oxígeno">
                                    O
                                    <sub>2</sub>
                                </div>
                            </div>

                            <div class="col-xs-3 text-left col-left">
                                <button type="button" class="btn-nostyle" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'desinfectar'" ng-if="!cama.desinfectada && cama.estado != 'reparacion'">
                                    <i class="mdi mdi-bug-report"></i>
                                </button>

                            </div>

                            <div class="col-xs-6 col-right text-right">
                                <div class="btn-group" role="group" ng-if="cama.paciente.id">
                                    <button type="button" class="btn btn-default  tips" data-placement="top" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)">Internación</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="evolucionarPaciente(cama)">Evoluciones</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="verValoracionInicial(cama.idInternacion)">Valoración inicial</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="cargarPrestaciones()">
                                                Cargar prestaciones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="egresarPaciente(cama)">Desocupar cama</a>
                                        </li>
                                    </ul>

                                </div>

                                <button class="btn btn-default tips" title="Ver internación" ng-click="verInternacion(cama.idInternacion)" ng-if="cama.idInternacion">
                                    <i class="mdi mdi-eye"></i>
                                </button>

                                <button class="btn btn-default" title="Enviar a reparación " ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'reparacion'" ng-if="!cama.paciente.id && (cama.estado == 'desocupada' && cama.estado != 'reparacion')">
                                    <i class="mdi mdi-wrench"></i>
                                </button>
                                <button class="btn btn-default" title="Confirmar reparación" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'reparacion'" ng-if="!cama.paciente.id && (cama.estado == 'desocupada' && cama.estado == 'reparacion')">
                                    <i class="mdi mdi-wrench"></i>
                                </button>
                            </div>

                        </div>
                </div>

                <div class="back">
                    <div class="header">
                        <div class="col-lg-6">
                            <div class="numero-habitacion">
                                {{cama.habitacion}}
                                /
                                {{cama.numero}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <button class="btn btn-default  pull-right" ng-show="cama.paciente.id || (cama.$action == 'enviada_reparacion')" ng-click="cama.$rotar = !cama.$rotar">
                                <i class="mdi mdi-close"></i>
                            </button>
                        </div>
                    </div>
                    <!-- Ultima evolucion / Evolucionar -->
                    <div ng-if="cama.$action && cama.$action == 'evolucion'">
                        <div class="content" ng-class="{'evolucion': cama.$action == 'evolucion' }">
                            <div class="main ">
                                <h4 class="text-center">Última evolución</h4>

                                <span ng-if="cama.ultimaEvolucion.texto.length >= 80">
                                    {{cama.ultimaEvolucion.texto | limitTo: 80}}
                                    ...
                                </span>
                                <span ng-if="cama.ultimaEvolucion.texto.length < 80">
                                    {{cama.ultimaEvolucion.texto}}
                                </span>

                                <p ng-if="cama.ultimaEvolucion.createdBy">
                                    <i class="fa fa-user-md"></i>
                                    {{cama.ultimaEvolucion.createdBy.name}}
                                    {{cama.ultimaEvolucion.createdAt | fromNow}}
                                    <br/>
                                    ({{cama.ultimaEvolucion.createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}
                                    hs)

                                    <!-- <br/>
                                    La próxima evolución deberá realizarse el dd/MM/yyyy a las HH:mm -->
                                </p>

                                <p ng-if="!cama.ultimaEvolucion.createdBy" class="text-center">
                                    Aún no se ha cargado ninguna evolución.
                                    <br/><br/>

                                    <button class="btn btn-primary col-lg-12" title="Evolucionar" ng-click="evolucionarPaciente(cama)" ng-if="cama.paciente.id">
                                        Cargar evolución
                                    </button>
                                </p>
                            </div>

                        </div>
                        <div class="footer">
                            <div class="col-xs-3 text-left col-left">
                                <div class="stacked-icon oxigeno tips" ng-if="cama.oxigeno" title="Cama con oxígeno">
                                    O
                                    <sub>2</sub>
                                </div>
                            </div>

                            <div class="col-xs-3 text-left col-left">
                                <button type="button" class="btn-nostyle" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'desinfectar'" ng-if="!cama.desinfectada && cama.estado != 'reparacion'">
                                    <i class="mdi mdi-bug-report"></i>
                                </button>

                            </div>

                            <div class="col-xs-6 col-right text-right">
                                <div class="btn-group" role="group" ng-if="cama.paciente.id">
                                    <button type="button" class="btn btn-default  tips" data-placement="top" data-animation="am-flip-x" bs-dropdown aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href="#" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)">Internación</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="evolucionarPaciente(cama)">Evoluciones</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="verValoracionInicial(cama.idInternacion)">Valoración inicial</a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="cargarPrestaciones()">
                                                Cargar prestaciones
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" ng-click="egresarPaciente(cama)">Desocupar cama</a>
                                        </li>
                                    </ul>

                                </div>

                                <button class="btn btn-default tips" title="Ver internación" ng-click="verInternacion(cama.idInternacion)" ng-if="cama.idInternacion">
                                    <i class="mdi mdi-eye"></i>
                                </button>

                                <button class="btn btn-default" title="Enviar a reparación " ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'reparacion'" ng-if="!cama.paciente.id && (cama.estado == 'desocupada' && cama.estado != 'reparacion')">
                                    <i class="mdi mdi-wrench"></i>
                                </button>
                                <button class="btn btn-default" title="Confirmar reparación" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'reparacion'" ng-if="!cama.paciente.id && (cama.estado == 'desocupada' && cama.estado == 'reparacion')">
                                    <i class="mdi mdi-wrench"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Ver cama enviada a reparacion -->
                    <div ng-if="cama.$action == 'enviada_reparacion' && cama.estado == 'reparacion'">
                        <div class="content">

                            <div class="main">
                                <div ng-if="!cama.paciente.id && cama.estado == 'reparacion'">
                                    <h3 class="name reparacion">
                                        En reparación desde:
                                        <br/>
                                        {{cama.reparacion.createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}hs
                                        <br/><br/>
                                    </h3>
                                    <div class="motivo-reparacion">
                                        {{cama.reparacion.motivo | limitTo: 200}}
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Enviar a reparar una cama -->
                    <div ng-if="cama.$action == 'reparacion' && cama.estado == 'desocupada'">
                        <div class="content" ng-class="{'reparacion': cama.$action == 'reparacion' }">
                            <form name="reparacionForm">

                                <div class="main">
                                    <!-- <textarea rows="8" name="motivo_{{$index}}" class="form-control" placeholder="¿Motivo de reparación?" plex ng-required="true" ng-model="cama.$motivo"></textarea> -->
                                    <div class="form-group">
                                        <textarea rows="6" class="form-control" placeholder="¿Motivo de reparación?" plex ng-required="true" ng-model="cama.$motivo"></textarea>
                                    </div>

                                </div>

                            </form>

                        </div>
                        <div class="footer">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button class="btn btn-default tips form-control" ng-click="cama.$rotar = !cama.$rotar" title="No enviar a reparar">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button class="btn btn-primary tips form-control" title="Enviar a reparar" ng-click="reparacionForm.$valid && cambiarEstado(cama, 'reparacion')">
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Confirmar reparacion completa de una cama -->
                    <div ng-if="cama.$action && cama.$action == 'reparacion' && cama.estado == 'reparacion'">
                        <div class="content" ng-class="{'reparacion': cama.$action == 'reparacion' }">
                            <div class="main">
                                <p class="text-center">
                                    ¿La cama ha sido reparada?
                                </p>
                            </div>
                        </div>
                        <div class="footer">

                            <div class="col-lg-6">
                                <div class="form-group">

                                    <button class="btn btn-default tips form-control" ng-click="cama.$rotar = !cama.$rotar" title="No">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button class="btn btn-primary tips form-control" title="Si" ng-click="cambiarEstado(cama, 'desocupada')">
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Enviar a desinfectar una cama -->
                    <div ng-if="cama.$action == 'desinfectar' && cama.estado == 'desocupada'">
                        <div class="content" ng-class="{'desinfectar': cama.$action == 'desinfectar' }">
                            <form name="desinfeccionForm">

                                <div class="main">
                                    ¿Confirmar desinfección de cama?
                                </div>

                            </form>
                        </div>
                        <div class="footer">
                            <div class="col-lg-6">
                                <div class="form-group">

                                    <button class="btn btn-default tips form-control" ng-click="cama.$rotar = !cama.$rotar" title="No">
                                        <i class="mdi mdi-close"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <button class="btn btn-primary tipos form-control" title="Si" ng-click="desinfeccionForm.$valid && cambiarEstado(cama, 'desinfectada')">
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- extra menu -->
                    <!-- <div class="content" ng-if="cama.$action && cama.$action == 'menu_extra'">
                        <div class="main ">
                            <button class="md-raised md-primary" ng-click="editarIngresoInternacion(cama.id, cama.idInternacion)" title="Internación">Internación</button>
                            <button class="md-raised md-primary" ng-click="verValoracionInicial(cama.idInternacion)" title="Valoración inicial">Valoración inicial</button>
                            <button class="md-raised md-primary" ng-click="egresarPaciente(cama)" title="Egresar">Egresar</button>
                            <button type="button" class="btn btn-primary col-lg-12 " ng-click="cama.$action = 'pase'">Pase</button>
                        </div>

                        <div class="footer"></div>
                    </div> -->

                    <!-- Poner en pase una internacion -->
                    <!-- <div class="content" ng-if="cama.$action && cama.$action == 'pase'">
                        <div class="main">
                            <p class="text-center">
                                ¿Desea generar el pase?
                            </p>
                        </div>

                        <div class="footer">
                            <form>
                                <layout>
                                    <div flex="50">

                                        <button class="md-warn md-raised" title="No" ng-click="cama.$action = 'menu_extra'">
                                            <md-icon md-font-icon="fa-close" class="fa"></md-icon>
                                        </button>
                                    </div>

                                    <div flex="50">

                                        <button class=" md-raised" title="Si" ng-click="generarPase(cama)">
                                            <md-icon md-font-icon="fa-check" class="fa"></i>
                                        </button>

                                    </div>

                                </layout>
                            </form>

                        </div>

                    </div> -->

                </div>

            </div>

        </div>

    </div>
</div>

<div ng-show="layout == 'list'" class="list">
    <div class="row" ng-repeat="cama in filter.camas">
        <div class="card card-block" ng-if="cama.paciente.id">

            <div class="col-lg-1 text-center">
                <i class="icono-paciente {{cama.paciente | persona: 'icon'}} " ng-if="cama.paciente.id" ng-click="cama.$rotar = !cama.$rotar; cama.$action = 'evolucion'"></i>
                <br />
                <div class="numero-habitacion">
                    {{cama.habitacion}}
                    /
                    {{cama.numero}}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row" ng-if="cama.paciente.apellido">

                    <h3 class="name col-lg-8">
                        {{cama.paciente | persona:"an"}}
                    </h3>
                    <p class="profession text-right col-lg-4" >
                        {{cama.paciente | persona:"e"}}
                        /
                        {{cama.paciente.documento}}
                    </p>
                </div>
                <div>
                    Médico a cargo: XXXXXXXXXXXXXXXX
                    <br/>
                    Fecha internación:
                    {{cama.$internacion.createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}
                    hs,
                    {{cama.$internacion.createdAt | fromNow }}

                    <div ng-if="cama.$internacion.evoluciones.length > 0">
                        <br/>
                        Ultima evolución:
                        <i class="fa fa-user-md"></i>
                        {{cama.$internacion.evoluciones[cama.$internacion.evoluciones.length-1].createdBy.name}}
                        {{cama.$internacion.evoluciones[cama.$internacion.evoluciones.length-1].createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}}
                        hs (
                        {{cama.$internacion.evoluciones[cama.$internacion.evoluciones.length-1].createdAt | fromNow}}
                        )
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <span class="">Diagnóstico presuntivo</span>
                <br/>
                {{cama.$internacion.ingreso.diagnosticoPresuntivo}}

                <br/>

                <span class="">Motivo de internación</span>
                <br/>
                {{cama.$internacion.ingreso.motivo}}
            </div>
            <div class="col-lg-2">
                <div ng-if="cama.idInternacion">
                    <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 0 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total < 25" ng-class="{'verde' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total < 25}" class="mdi mdi-alert tips" title="Riesgo de caídas bajo"></i>
                    <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total >= 25 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total <= 50" ng-class="{'amarillo' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total >= 25 && cama.$internacion.ingreso.enfermeria.riesgoCaida.total <= 50}" class="mdi mdi-alert tips" title="Riesgo de caídas medio"></i>
                    <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 50" ng-class="{'rojo' : cama.$internacion.ingreso.enfermeria.riesgoCaida.total > 50}" class="mdi mdi-alert tips" title="Riesgo de caídas alto"></i>
                    <i ng-if="cama.$internacion.ingreso.enfermeria.riesgoCaida.total == 0" class="mdi mdi-alert tips" title="Sin riesgo de caídas"></i>

                    <i class="mdi mdi-thermometer" title="{{cama.$internacion.evoluciones[cama.$internacion.evoluciones.length-1].temperatura}}º C"></i>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" ng-if="filter.camas && filter.camas.length == 0">
            ¡No se encontró ninguna cama!
        </div>
    </div>
</div>
