<style scoped>
    input[type="radio"] + div.help-block {
        display: none;
    }

    input[type="radio"]:checked + div.help-block {
        display: block;
    }
</style>
<ng-form name="Caidas">
<div class="row">
    <div class="col-sm-12">
        <fieldset>
            <legend>Valoración de riesgo de caídas
                <span ng-if="internacion.ingreso.enfermeria.riesgoCaida.total < 25" class="small padding-left padding-right margin-left nivel-verde">Bajo</span>
                <span ng-if="internacion.ingreso.enfermeria.riesgoCaida.total >= 25 && internacion.ingreso.enfermeria.riesgoCaida.total <= 50" class="small padding-left padding-right margin-left nivel-amarillo">Medio</span>
                <span ng-if="internacion.ingreso.enfermeria.riesgoCaida.total > 50" class="small padding-left padding-right margin-left nivel-rojo">Alto</span>
            </legend>
            <div class="row">
                <div class="col-sm-4">
                    <label>Caídas previas</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="caidasPrevias" ng-model="internacion.ingreso.enfermeria.riesgoCaida.caidasPrevias" ng-value="0">No
                            <div class="help-block small">
                                El paciente no se ha caído
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="caidasPrevias" ng-model="internacion.ingreso.enfermeria.riesgoCaida.caidasPrevias" ng-value="25">Si
                            <div class="help-block small">
                                El paciente se ha caído durante la presente internación o tiene antecedentes dentro de los últimos 3 meses de caídas por convulsiones o trastornos de la marcha
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="caidasPrevias" ng-model="internacion.ingreso.enfermeria.riesgoCaida.caidasPrevias" ng-value="30">Necesita apoyarse
                            <div class="help-block small">
                                El paciente sólo puede caminar apoyándose en los muebles
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Marcha</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="marcha" ng-model="internacion.ingreso.enfermeria.riesgoCaida.marcha" ng-value="0">Normal
                            <div class="help-block small">
                                El paciente camina con la cabeza erecta, los brazos balanceándose libremente a los costados y con pasos seguros.
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="marcha" ng-model="internacion.ingreso.enfermeria.riesgoCaida.marcha" ng-value="10">Débil
                            <div class="help-block small">
                                El paciente camina encorvado pero es capaz de levantar la cabeza mientras camina sin perder equilibrio. Los pasos son cortos y puede arrastrar los pies.
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="marcha" ng-model="internacion.ingreso.enfermeria.riesgoCaida.marcha" ng-value="20">Limitada
                            <div class="help-block small">
                                El paciente puede tener dificultades para levantarse de la silla, pudiendo realizar varios intentos apoyando sus brazos en los brazos de la silla o tomando impulso. La cabeza del paciente está baja, mirando al piso.
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Ayuda para Deambular</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="ayudaDeambular" ng-model="internacion.ingreso.enfermeria.riesgoCaida.ayudaDeambular" ng-value="0">Ninguna
                            <div class="help-block small">
                                El paciente camina sin ningún dispositivo de ayuda, se encuentra en silla de ruedas o está en reposo y no se levanta de la cama para nada
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="ayudaDeambular" ng-model="internacion.ingreso.enfermeria.riesgoCaida.ayudaDeambular" ng-value="15">Necesita ayuda
                            <div class="help-block small">
                                El paciente utiliza muletas, bastón o andador.
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="ayudaDeambular" ng-model="internacion.ingreso.enfermeria.riesgoCaida.ayudaDeambular" ng-value="30">Se apoya en los muebles
                            <div class="help-block small">
                                El paciente sólo camina apoyándose en los muebles
                            </div>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <label>Venoclisis</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="venoclitis" ng-model="internacion.ingreso.enfermeria.riesgoCaida.venoclisis" ng-value="0">No
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="venoclitis" ng-model="internacion.ingreso.enfermeria.riesgoCaida.venoclisis" ng-value="20">Si
                            <div class="help-block small">
                                El paciente tiene una vía IV
                            </div>
                        </label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label>Comorbilidad</label>
                    <div class="radio">
                        <label><input type="radio" name="comorbilidad" ng-model="internacion.ingreso.enfermeria.riesgoCaida.comorbilidad" ng-value="0">No
                            <div class="help-block small">
                                El paciente tiene un solo diagnóstico
                            </div>
                        </label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="comorbilidad" ng-model="internacion.ingreso.enfermeria.riesgoCaida.comorbilidad" ng-value="15">Si
                            <div class="help-block small">
                                El paciente presenta múltiples diagnósticos
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label>Estado Mental</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="estadoMental" ng-model="internacion.ingreso.enfermeria.riesgoCaida.estadoMental" ng-value="0">Reconoce sus limitaciones
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="estadoMental" ng-model="internacion.ingreso.enfermeria.riesgoCaida.estadoMental" ng-value="15">Sobreestima u olvida sus limitaciones
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<button type="submit" class="btn btn-success pull-right" plex-submit="guardar()">
    Guardar Valoración
</button>
</ng-form>
