<ng-form name="miFormulario">
    <!-- ****************************** Título ****************************** -->
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>Valoración del Riesgo de Caídas</legend>
                <span>La escala de caída de Morse es una herramienta rápida y simple para evaluar la probabilidad de que un paciente sufra una caída.</span>
            </fieldset>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-4">
            <label>Caídas Previas</label>
            <input type="checkbox" plex="bool" true="Si (25)" false="No (0)" />
        </div>
        <div class="col-sm-4">
            <label>Comorbilidades</label>
            <input type="checkbox" plex="bool" true="Si (15)" false="No (0)" />
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label>Ayuda para Deambular</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioAyuda"> Ninguna/Reposo en cama/Asistencia (0)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioAyuda">Bastón/Muleta/Caminador (15)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioAyuda">Se apoya en los muebles (30)</label>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <label>Venoclisis</label>
            <input type="checkbox" plex="bool" true="Si (20)" false="No (0)" />
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label>Marcha</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioMarcha"> Normal/Reposo en cama/Silla de ruedas (0)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioMarcha">Débil (10)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioMarcha">Limitada (20)</label>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <label>Estado Mental</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioEstado"> Reconoce sus limitaciones (0)</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="radioEstado">Sobreestima u olvida sus limitaciones (15)</label>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>Riesgo</th>
                        <th>Puntaje</th>
                        <th>Cuidados de Enfermería</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color:#b3ffb3">
                        <td>Bajo</td>
                        <td>0 - 24</td>
                        <td>Cuidados bajos de enfermería</td>
                    </tr>
                    <tr style="background-color:#ffffb3">
                        <td>Medio</td>
                        <td>25 - 50</td>
                        <td>Implementación de plan de prevención</td>
                    </tr>
                    <tr style="background-color:#ffb3b3">
                        <td>Alto</td>
                        <td>> 50</td>
                        <td>Implementación de medidas especiales</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- INSTRUCTIVO PARA ASIGNACIÓN Y CÁLCULO DE PUNTOS (Implementar en cada campo con botoncitos de help.) -->
    <div class="hidden">
        <div class="panel panel-default">
            <div class="panel-body">
                <span>Los puntajes se asignan de acuerdo a las siguientes definiciones:</span>
                <br />
                <span style="font-weight:bold">1.	ANTECEDENTES DE CAÍDAS RECIENTES:</span>
                <br />
                <span>•	Se asignan 25 puntos si el paciente se ha caído durante la presente internación o si tiene antecedentes dentro de los últimos tres meses de caídas fisiológicas a consecuencia de situaciones tales como convulsiones o trastornos de la marcha.</span>
                <br />
                <span>•	Si el paciente no se ha caído, se asigna 0 puntos.</span>
                <br />
                <span>•	Nota: si un paciente se cae por primera vez, entonces su puntaje automáticamente sube a 25. </span>
                <br />
                <span>•	Si el paciente sólo puede caminar apoyándose en los muebles se asignan 30 puntos.</span>
                <br />
                <spanstyle="font-weight:bold">2.	DIAGNÓSTICO SECUNDARIO:</span>
                <br />
                <span>•	Se asignan 15 puntos si hay más de un diagnóstico en la historia clínica.</span>
                <br />
                <span>•	Si no, se califica 0.</span>
                <br />
                <span style="font-weight:bold">3.	AYUDA PARA DEAMBULAR:</span>
                <br />
                <span>•	Se califica con 0 si el paciente camina sin ningún dispositivo de ayuda (aun siendo ayudado por una enfermera/o), se encuentra en silla de ruedas o está en reposo y no se levanta de la cama para nada. </span>
                <br />
                <span>•	Si el paciente utiliza muletas, bastón o andador se asignan 15 puntos.</span>
                <br />
                <span>•	Si el paciente sólo camina apoyándose en los muebles se asignan 30 puntos.</span>
                <br />
                <span style="font-weight:bold">4.	VÍA ENDOVENOSA:</span>
                <br />
                <span>•	Se asignan 20 puntos si el paciente tiene una vía IV en caso contrario el puntaje es 0.</span>
                <br />
                <span style="font-weight:bold">5.	MARCHA (Equilibrio y/o traslado):</span>
                <br />
                <span>•	Se define como marcha normal cuando el paciente camina con la cabeza erecta, los brazos balanceándose libremente a los costados y con pasos seguros. A esta marcha no se le asignan puntos (0).</span>
                <br />
                <span>•	Con una marcha débil (puntaje 10) el paciente camina encorvado pero es capaz de levantar la cabeza mientras camina sin perder equilibrio. Los pasos son cortos y puede arrastrar los pies.</span>
                <br />
                <span>•	Con una marcha alterada (puntaje 20) el paciente puede tener dificultades para levantarse de la silla, pudiendo realizar varios intentos apoyando sus brazos en los brazos de la silla o "tomando IMPULSO"(ej.: realizando varios intentos por incorporarse, .La cabeza del paciente está baja, mirando al piso.</span>
                <br />
                <span>•	Como tiene muy poco equilibrio, el paciente se agarra de los muebles, de una persona de apoyo o de bastones/andadores y no puede caminar sin esta asistencia).</span>
                <br />
                <span style="font-weight:bold">6.	CONCIENCIA - ESTADO MENTAL:</span>
                <br />
                <span>Cuando se utiliza esta escala, el estado mental del paciente es valorado chequeando la propia evaluación que hace el paciente acerca de su capacidad para caminar. Se le pregunta al paciente: "¿Puede ir al baño sólo o necesita ayuda?"</span>
                <br />
                <span>•	Si la respuesta del paciente es consistente con sus reales posibilidades se le asigna 0 punto.</span>
                <br />
                <span>•	Si la respuesta del paciente no es realista, se considera que el mismo sobreestima sus propias capacidades y no es consciente de sus limitaciones, asignándose entonces 15 puntos.</span>
                <br />
                <span style="font-weight:bold">7.	PUNTUACIÓN FINAL Y NIVEL DE RIESGO:</span>
                <br />
                <span>•	Se suman los puntajes de los 6 ítems y se documenta en la historia clínica.</span>
                <br />
                <span>•	Se identifica así el nivel de riesgo de caídas y las acciones recomendadas según el riesgo.</span>
            </div>
        </div>
    </div>
</ng-form>
