<!-- <pre>{{ miFormulario.$valid }}</pre>-->
<ng-form name="miFormulario">
    <!-- ****************************** Título ****************************** -->
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <legend>Valoración inicial de Enfermería</legend>
            </fieldset>
        </div>
    </div>
    <br />
    <!-- ****************************** Datos Generales ****************************** -->
    <!-- ****************************** Apellido, Nombre, HC, F Ingreso ****************************** -->
    <div class="row">
        <div class="col-sm-3">
            <input type=text label="Apellido" ng-model="internacion.paciente.apellido" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Nombre" ng-model="internacion.paciente.nombre" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Nº de H.C." ng-model="internacion.paciente.idExterno.historiaClinica" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Fecha de Ingreso" ng-model="internacion.ingreso.fechaHora" plex />
        </div>
    </div>
    <!-- ****************************** Edad, DNI, Genero, Estado Civil ****************************** -->
    <div class="row">
        <div class="col-sm-3">
            <input type=text label="Edad" ng-model="internacion.paciente.edad" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="D.N.I." ng-model="internacion.paciente.documento" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Género" ng-model="internacion.paciente.sexo" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Estado Civil" ng-model="internacion.paciente.estadoCivil" plex />
        </div>
    </div>
    <!-- ****************************** Ocupación, OS, Instrucción, Nacionalidad ****************************** -->
    <div class="row">
        <div class="col-sm-3">
            <input type=text label="Ocupación" ng-model="internacion.ingreso.situacionPaciente.ocupacion" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Obra Social" ng-model="internacion.paciente.obrasSociales" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Nivel de Instrucción" ng-model="internacion.ingreso.situacionPaciente.educacion" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Nacionalidad" ng-model="internacion.paciente.nacionalidad" plex />
        </div>
    </div>
    <!-- ****************************** Motivo Ingreso, Diagnóstico presuntivo ****************************** -->
    <div class="row">
        <div class="col-sm-6">
            <input type=text label="Motivo de Ingreso" ng-model="internacion.ingreso.motivo" plex />
        </div>
        <div class="col-sm-6">
            <input type=text label="Diagnóstico Médico Presuntivo" ng-model="internacion.ingreso.diagnosticoPresuntivo" plex />
        </div>
    </div>
    <!-- ****************************** Domicilio, Convivientes ****************************** -->
    <div class="row">
        <div class="col-sm-6">
            <input type=text label="Domicilio" ng-model="internacion.paciente.domicilio.texto" plex />
        </div>
        <div class="col-sm-6">
            <input type=text label="Convivientes" plex />
        </div>
    </div>
    <!-- ****************************** Procedencia, Domicilio, Tel ****************************** -->
    <div class="row">
        <div class="col-sm-4">
            <input type=text label="Procedencia" plex />
        </div>
        <div class="col-sm-4">
            <input type=text label="Domicilio" plex />
        </div>
        <div class="col-sm-4">
            <input type=text label="Nº de Tel." plex />
        </div>
    </div>
    <br />
    <!-- ****************************** Antecedentes clínicos ****************************** -->
    <div class="row">
        <div class="col-sm-11">
            <fieldset>
                <legend>Antecedentes clínicos</legend>
            </fieldset>
        </div>
        <div class="col-sm-1">
            <button ng-click="showAC=true" title="Mostrar Antecedentes Clínicos"><i class="fa fa-chevron-down"></i></button>
            <button ng-click="showAC=false" title="Ocultar Ancedentes Clínicos"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>
    <div class="row" ng-show="showAC">
        <div class="col-sm-3">
            <input type=text label="HTA" ng-model="internacion.antecedentes.hta" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="DBT" ng-model="internacion.antecedentes.diabetes" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Alergias" ng-model="internacion.antecedentes.alergias" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Otros" plex />
        </div>
    </div>
    <div class="row" ng-show="showAC">
        <div class="col-sm-6">
            <input type=text label="Medicación Habitual" plex />
        </div>
    </div>
    <br />
    <!-- ****************************** Antecedentes Obstétricos ****************************** -->
    <div class="row">
        <div class="col-sm-11">
            <fieldset>
                <legend>Antecedentes obstétricos (si corresponde)</legend>
            </fieldset>
        </div>
        <div class="col-sm-1">
            <button ng-click="showAO=true" title="Mostrar Antecedentes Obstétricos"><i class="fa fa-chevron-down"></i></button>
            <button ng-click="showAO=false" title="Ocultar Ancedentes Obstétricos"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>
    <div ng-show="showAO" class="row">
        <div class="col-sm-3">
            <input type=text label="Gestas" ng-model="internacion.antecedentes.obstetricos.gestas" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Partos" ng-model="internacion.antecedentes.obstetricos.partos" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Cesáreas" ng-model="internacion.antecedentes.obstetricos.cesareas" plex />
        </div>
        <div class="col-sm-3">
            <input type=text label="Abortos" ng-model="internacion.antecedentes.obstetricos.abortos" plex />
        </div>
    </div>
    <br />
    <!-- ****************************** Antecedentes quirúrgicos y/o traumatológicos ****************************** -->
    <div class="row">
        <div class="col-sm-11">
            <fieldset>
                <legend>Antecedentes Quirúrgicos y/o Traumatológicos</legend>
            </fieldset>
        </div>
        <div class="col-sm-1">
            <button ng-click="showAQ=true" title="Mostrar Antecedentes Quirúrgicos"><i class="fa fa-chevron-down"></i></button>
            <button ng-click="showAQ=false" title="Ocultar Ancedentes Quirúrgicos"><i class="fa fa-chevron-up"></i></button>
        </div>
    </div>
    <div ng-show="showAQ" class="row">
        <div class="col-sm-11">
            <input type=text ng-model="internacion.antecedentes.quirurgicos" plex />
        </div>
    </div>
    <br /><br />
    <div class="row">
        <!-- ****************************** Necesidad de Oxigenación ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">1. Necesidad de Oxigenación</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNO=true" title="Mostrar Necesidad de Oxigenación"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNO=false" title="Ocultar Necesidad de Oxigenación"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNO">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="FR" ng-model="enfermeria.FR" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="SAT 2" ng-model="enfermeria.SAT2" plex />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.disneaEsfuerzo"/> Disnea esfuerzo
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.disneaReposo"/> Disnea reposo
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.Tos"/> Tos
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Secreciones</label>
                            <input type="checkbox" ng-model="enfermeria.secreciones" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <label>Uso de músculos accesorios</label>
                            <input type="checkbox" ng-model="enfermeria.usoMusculos" plex="bool" true="Si" false="No" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.secreciones" hint="Ingrese las características de las secreciones" ng-model="enfermeria.secrecionesCaracteristicas" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.usoMusculos" hint="Ingrese cuales son los músculos accesorios" ng-model="enfermeria.musculosCuales" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesOxigenacion" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Necesidad de Circulación ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">2. Necesidad de Circulación</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNC=true" title="Mostrar Necesidad de Circulación"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNC=false" title="Ocultar Necesidad de Circulación"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNC">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="T/A" ng-model="enfermeria.TA" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="FC" ng-model="enfermeria.FC" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Pulso</label></h5>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            Carotídeo:
                                            <input type=text ng-model="enfermeria.carotideo" plex />
                                        </div>
                                        <div class="col-sm-6">
                                            Radial:
                                            <input type=text ng-model="enfermeria.radial" plex />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            Poplíteo:
                                            <input type=text ng-model="enfermeria.popliteo" plex />
                                        </div>
                                        <div class="col-sm-6">
                                            Pedio:
                                            <input type=text ng-model="enfermeria.pedio" plex />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesCirculacion" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- ****************************** Necesidad de Nutrición ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">3. Necesidad de Nutrición</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNN=true" title="Mostrar Necesidad de Nutrición"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNN=false" title="Ocultar Necesidad de Nutrición"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNN">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="Peso" ng-model="enfermeria.peso" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="Talla" ng-model="enfermeria.talla" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Hábitos alimentarios" ng-model="enfermeria.habitosAlimentarios" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.vomitos"/> Vómitos
                        </div>
                        <div class="col-sm-9">
                            <input type="text" hint="Ingrese las características de los vómitos" ng-model="enfermeria.vomitosCaracteristicas" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.nauseas"/> Náuseas
                        </div>
                        <div class="col-sm-9">
                            <input type="text" label="Otros" ng-model="enfermeria.otrosNutricion" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span style="font-weight:bold">Piezas dentarias</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" plex="bool" ng-model="enfermeria.piezasDentarias" true="Incompletas" false="Completas" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.protesis"/> Prótesis
                        </div>
                        <div class="col-sm-9">
                            <input type="text" hint="Ingrese tipo de prótesis" ng-model="enfermeria.protesisTipo" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.dificultadesDeglutir"/> Dificultades para deglutir
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.dificultadesMasticar"/> Dificultades para masticar
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Lactancia materna" ng-model="enfermeria.lactanciaMaterna" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesNutricion" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Necesidad de Eliminación ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">4. Necesidad de Eliminación</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNE=true" title="Mostrar Necesidad de Eliminación"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNE=false" title="Ocultar Necesidad de Eliminación"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNE">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Vesical</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.espontaneaVesical"/> Espontánea
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.incontinenciaVesical"/> Incontinencia
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.urostomiaVesical"/> Urostomía
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.sondaVesical"/> Sonda vesical
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.tallaVesical" /> Talla vesical
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.otrosVesical"/> Otros
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Característica" ng-model="enfermeria.caracteristicaVesical" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Intestinal</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.espontaneaIntestinal"/> Espontánea
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.ostomiaIntestinal"/> Ostomía
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.diarreaIntestinal"/> Diarrea
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.incontinenciaIntestinal"/> Incontinencia
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.constipacionIntestinal"/> Constipación
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.otrosIntestinal" /> Otros
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Característica" ng-model="enfermeria.caracteriaticaIntestinal" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Drenajes</label>
                            <input type="checkbox" ng-model="enfermeria.drenajes" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <label>Otros</label>
                            <input type="checkbox" ng-model="enfermeria.otrosEliminacion" plex="bool" true="Si" false="No" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.drenajes" hint="Ingrese las características de los drenajes" ng-model="enfermeria.drenajesCaracteristicas" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.otrosEliminacion" hint="Ingrese características" ng-model="enfermeria.otrosCaracteristicas" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesEliminacion" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- ****************************** Necesidad de Proteger los tegumentos ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">5. Necesidad de Proteger los Tegumentos</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNPT=true" title="Mostrar Necesidad de Proteger los Tegumentos"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNPT=false" title="Ocultar Necesidad de Proteger los Tegumentos"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNPT">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="Temperatura" ng-model="enfermeria.temperatura" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="Color" ng-model="enfermeria.color" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="Higiene" ng-model="enfermeria.higiene" plex />
                        </div>
                        <div class="col-sm-3">
                            <br />
                            <input type="checkbox" plex="bool" true="Con ayuda" false="Sin ayuda" ng-model="enfermeria.higieneAyuda" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.edemas"/> Edemas
                        </div>
                        <div class="col-sm-9">
                            <input type="text" hint="Ingrese localización de los edemas" ng-model="enfermeria.edemasLocalizacion" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Estado</th>
                                        <th>Mucosas</th>                <!-- ng-model="enfermeria.estadoMucosas" -->
                                        <th>Piel</th>                   <!-- ng-model="enfermeria.estadoPiel" -->
                                        <th>Pie</th>                    <!-- ng-model="enfermeria.estadoPie" -->
                                        <th>Boca</th>                   <!-- ng-model="enfermeria.estadoBoca" -->
                                        <th>Genitales</th>              <!-- ng-model="enfermeria.estadoGenitales" -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Íntegra</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Lesiones</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Hidratada</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Deshidratada</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesTegumentos" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Necesidad de Movilizarse/Vestirse ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">6. Necesidad de Movilizarse/Vestirse</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNMV=true" title="Mostrar Necesidad de Movilizarse/Vestirse"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNMV=false" title="Ocultar Necesidad de Movilizarse/Vestirse"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNMV">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="checkbox" ng-model="enfermeria.ayudaVestirse"/> Necesita ayuda para vestirse
                        </div>
                        <div class="col-sm-7">
                            <input type="checkbox" ng-model="enfermeria.dificultadesCaminar"/> Presenta dificultades para caminar
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="checkbox" ng-model="enfermeria.dispositivosMovilizacion"/> Uso de dispositivos de movilización
                        </div>
                        <div class="col-sm-7">
                            <input type="text" hint="Ingrese cuáles son los dispositivos de movilización" ng-model="enfermeria.dispositivosCuales" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesMovilizarse" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- ****************************** Necesidad de Dormir y Reposar ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">7. Necesidad de Dormir y Reposar</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNDR=true" title="Mostrar Necesidad de Dormir y Reposar"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNDR=false" title="Ocultar Necesidad de Dormir y Reposar"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNDR">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Características del sueño</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.dormirContinuo" /> Continuo
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.dormirDiscontinuo"/> Discontinuo
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.dormirInsomnio"/> Insomnio
                        </div>
                        <div class="col-sm-3">
                            <input type="checkbox" ng-model="enfermeria.dormirSomnolencia" /> Somnolencia
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesDormir" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Necesidad de Seguridad ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">8. Necesidad de Seguridad</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNS=true" title="Mostrar Necesidad de Seguridad"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNS=false" title="Ocultar Necesidad de Seguridad"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNS">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Hábitos/adicciones</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <span>Tabaco</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.tabaco" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.tabaco" ng-model="enfermeria.tabacoCuantos" hint="Cuántos" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <span>Alcohol</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.alcohol" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.alcohol" ng-model="enfermeria.alcoholCuanto" hint="Cuánto" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <span>Drogas</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.drogas" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.drogas" ng-model="enfermeria.drogasCuales" hint="Cuáles" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Otros" ng-model="enfermeria.otrosAdicciones" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Riesgos del medio ambiente</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.riesgosFisicos"/> Físicos
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.riesgosQuimicos"/> Químicos
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Cuáles" ng-model="enfermeria.riesgosCuales" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><label>Otros</label></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="checkbox" ng-model="enfermeria.revisionGinecologica"/> Revisión Ginecológica
                        </div>
                        <div class="col-sm-7">
                            <input type=text label="Fecha" ng-model="fechaRevisionGinecologica" plex="date" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="checkbox" ng-model="enfermeria.revisionUrologica"/> Revisión Urológica
                        </div>
                        <div class="col-sm-7">
                            <input type=text label="Fecha" ng-model="enfermeria.fechaRevisionUrologica" plex="date" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.ETS"/> ETS
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" ng-model="enfermeria.riesgoCardiovascular"/> Riesgo Cardiovascular
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Describa" ng-model="enfermeria.otrosDescriba" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="Riesgo de Caídas*" ng-model="enfermeria.riesgoCaidas" plex />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="Riesgo UPP*" ng-model="enfermeria.riesgoUPP" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Describa" ng-model="enfermeria.riesgosDescriba" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesSeguridad" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- ****************************** Necesidad de Comunicación y Sensopercepción ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">9. Necesidad de Comunicación y Sensopercepción</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNCS=true" title="Mostrar Necesidad de Comunicación y Sensopercepción"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNCS=false" title="Ocultar Necesidad de Comunicación y Sensopercepción"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNCS">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="radio" name="optradio" ng-model="enfermeria.orientado=true"/> Orientado
                        </div>
                        <div class="col-sm-6">
                            <input type="radio" name="optradio"ng-model="enfermeria.orientado=false"/> Desorientado
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <input type=text label="Glasgow*" plex ng-model="enfermeria.glasgow" />
                        </div>
                        <div class="col-sm-6">
                            <input type=text label="Idioma" plex ng-model="enfermeria.idioma"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Visión</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioVision" ng-model="enfermeria.visionNormal"/> Normal
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioVision" ng-model="enfermeria.visionDeficiente"/> Deficiente
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioVision" ng-model="enfermeria.visionAusente"/> Ausente
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Audición</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioAudicion" ng-model="enfermeria.audicionNormal"/> Normal
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioAudicion" ng-model="enfermeria.audicionDeficiente"/> Deficiente
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioAudicion" ng-model="enfermeria.audicionAusente"/> Ausente
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Lenguaje</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioLenguaje" ng-model="enfermeria.lenguajeNormal"/> Normal
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioLenguaje" ng-model="enfermeria.lenguajeDeficiente"/> Deficiente
                        </div>
                        <div class="col-sm-3">
                            <input type="radio" name="radioLenguaje" ng-model="enfermeria.lenguajeAusente"/> Ausente
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Describa" plex ng-model="enfermeria.describaSensopercepcion"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <span>Dolor*</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.dolor" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" ng-show="enfermeria.dolor" ng-model="enfermeria.dolorLocalizacion" hint="Localización" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesComunicacion" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Necesidad de Espiritualidad ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">10. Necesidad de Espiritualidad</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNEsp=true" title="Mostrar Necesidad de Espiritualidad"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNEsp=false" title="Ocultar Necesidad de Espiritualidad"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNEsp">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type=text label="Creencias religiosas" plex ng-model="enfermeria.creenciasReligiosas"/>
                        </div>
                        <div class="col-sm-7">
                            <input type=text label="Frecuencia con la que asiste a la iglesia" plex ng-model="enfermeria.frecuenciaIglesia"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <span>Desea visita de religioso (internación)</span>
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="enfermeria.visitaReligioso" plex="bool" true="Si" false="No" />
                        </div>
                        <div class="col-sm-4">
                            <input type="text" ng-show="enfermeria.visitaReligioso" ng-model="enfermeria.religiosoCual" hint="Cuál" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" ng-model="enfermeria.observacionesEspiritualidad" plex />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <!-- ****************************** Necesidad de Aprender/Autorealizarse/Recrearse ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">11. Necesidad de Aprender/Autorealizarse/Recrearse</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showNAAR=true" title="Mostrar Necesidad de Aprender/Autorealizarse/Recrearse"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showNAAR=false" title="Ocultar Necesidad de Aprender/Autorealizarse/Recrearse"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showNAAR">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="checkbox" ng-model="enfermeria.comprendeSituacion"/> Comprende su situación de salud
                        </div>
                        <div class="col-sm-7">
                            <input type="text" hint="Sentimientos en relación a ello" ng-model="enfermeria.sentimientosSituacion" plex />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <input type=text label="Dudas expresadas" plex ng-model="enfermeria.dudasExpresadas"/>
                        </div>
                        <div class="col-sm-7">
                            <input type=text label="Actividades recreativas habituales" plex ng-model="enfermeria.actividadesHabituales"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text label="Observaciones" plex ng-model="enfermeria.observacionesAprender"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****************************** Observaciones Generales ****************************** -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="col-sm-10">
                        <h4 class="panel-title">Observaciones Generales</h4>
                    </div>
                    <div class="col-sm-2">
                        <button style="font-size:10px" ng-click="showOG=true" title="Mostrar Observaciones Generales"><i class="fa fa-chevron-down"></i></button>
                        <button style="font-size:10px" ng-click="showOG=false" title="Ocultar Observaciones Generales"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>
                <div class="panel-body" ng-show="showOG">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type=text plex ng-model="enfermeria.observacionesGenerales"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************** Firma y Sello, Fecha y Hora ****************************** -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5><label>Firma y Sello</label></h5>
                        </div>
                        <div class="col-sm-6">
                            <h5><label>Fecha y Hora</label></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****************************** Instructivo ****************************** -->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span style="font-weight:bold">Instructivo</span>
                    <br />
                    <span>1 Ante un * (Asterisco) podrá usar escalas (Dolor, Riesgo UPP, riesgo de caídas, etc.). Deberá consignar cuál ha utilizado. Si existen escalas acordadas para enfermería de la Provincia, deberá usar las convenidas.</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <input type=text ng-model="fecha" ng-required="nombre" plex="date" />
  <button class="btn btn-primary" ng-click="guardar()">Save</button> -->
</ng-form>
