<div ng-if="pacientes.internacion && pacientes.internacion.length > 0">

    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">

                <div class="box-header">
                    <h3 class="box-title">Pacientes que aguardan asignación de cama</h3>
                    <div class="box-tools pull-right">

                        <!-- <div class="has-feedback">
                          <input type="text" class="form-control input-sm" placeholder="Buscar paciente" ng-model="filtro">
                          <span class="fa fa-search form-control-feedback"></span>
                        </div> -->

                    </div>
                </div>

                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Documento
                                </th>
                                <th>
                                    Edad
                                </th>
                                <th>
                                    Ingreso
                                </th>
                                <th>
                                    Motivo
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pacientes.internacion">
                                <td>
                                    {{item.ingreso.fechaHora | date: "dd/MM/yyyy  'a las' HH:mm "}}hs
                                </td>
                                <td>
                                    {{item.paciente | persona:"an"}}
                                </td>
                                <td>
                                    {{item.paciente | persona:"d"}}
                                </td>
                                <td>
                                    {{item.paciente | persona:"e"}}
                                </td>
                                <td>
                                    {{item.ingreso.tipo}}
                                </td>
                                <td>
                                    {{item.ingreso.motivo}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary tips" ng-click="seleccionarInternacion(item)" title="Seleccionar paciente">
                                        <i class="fa fa-user-plus"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="row" ng-show="internacion.paciente != ''">
    <div class="col-lg-12">
        <div class="box box-success">

            <div class="box-header">
                <h3 class="box-title">Buscar paciente</h3>
            </div>

            <div class="box-body" >

                <form name="formInternacion">

                    <div class="row">
                        <div class="col-md-4">
                            <input type=text label="Paciente" ng-model="internacion.nombre_paciente" plex disabled="disabled" />
                        </div>

                        <div class="col-md-4">
                            <input type="text" label="Fecha" ng-model="internacion.fechaHora" plex="date" ng-required="true" />
                        </div>
                        <div class="col-md-4">
                            <input type="hidden" label="Motivo" ng-model="internacion.tipo" plex plex-select="item.nombre for item in internacion.tiposInternacion"  ng-required="true" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="text" label="Motivo " ng-model="internacion.motivo" plex  ng-required="true"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea class="" label="Diagnóstico presuntivo" ng-model="internacion.diagnosticoPresuntivo" plex  ng-required="true"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success pull-right" plex-submit="internacion.crear()">
                                Crear internación
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box ">

            <div class="box-body">

                <input type=text label="Buscar personas por nombre / documento " ng-model="personas.query" plex>

                <table class="table table-bordered table-hover" ng-if="personas.data && personas.data.length > 0">

                    <thead>
                        <tr>

                            <th>
                                Nombre
                            </th>
                            <th>
                                Documento
                            </th>
                            <th>
                                Edad
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in personas.data">
                            <td>
                                {{item | persona:"an"}}
                            </td>
                            <td>
                                {{item | persona:"d"}}
                            </td>
                            <td>
                                {{item | persona:"e"}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-primary tips" ng-click="internacion.seleccionarPersona(item)" title="Seleccionar paciente">
                                    <i class="fa fa-user-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>

<div class="alert alert-danger" ng-if="personas.data && personas.data.length == 0">
    ¡No se encontró ningún resultado!
</div>
