<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h3 class="box-title">Paciente</h3>
                <div class="box-tools pull-right">
                    <p class="numero-habitacion-header">{{cama.habitacion}}/{{cama.numero}}</p>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-5">
                        <p><b>Nombre y Apellido:</b> {{internacion.paciente.apellido}}, {{internacion.paciente.nombre}}</p>
                    </div>
                    <div class="col-md-2">
                        <p><b>N° H.C:</b></p>
                    </div>

                    <div class="col-md-2">
                        <p><b>Edad:</b> {{internacion.paciente.edad}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Documento:</b> {{internacion.paciente.documento}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Fecha de ingreso:</b> {{internacion.ingreso.fechaHora}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Motivo de ingreso:</b> {{internacion.ingreso.motivo}}</p>
                    </div>

                    <div class="col-md-3">
                        <p><b>Obra social:</b> {{internacion.obrasSociales}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Numero de afiliado:</b> </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p><b>Diagnóstico médico presuntivo:</b> {{internacion.ingreso.diagnosticoPresuntivo}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Género:</b> {{internacion.paciente.sexo}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Estado civil:</b> {{internacion.paciente.estadoCivil}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Ocupación:</b> {{internacion.ingreso.situacionPaciente.ocupacion}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Nivel de instrucción:</b> {{internacion.ingreso.situacionPaciente.educacion}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Nacionalidad:</b> </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Procedencia:</b> </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Convivientes:</b> </p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p><b>Docimilio:</b> </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>N° tél.:</b> </p>
                    </div>
                </div>

                <div class="row">
                    <p class="col-md-12">
                        <u>Antecedentes clínicos</u>
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>HTA:</b> {{internacion.antecedentes.hta}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>DBT:</b> {{internacion.antecedentes.dbt}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Alergias:</b> {{internacion.antecedentes.alergias}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Otros:</b> {{internacion.antecedentes.otros}}</p>
                    </div>
                </div>

                <div class="row">
                    <p class="col-md-12">
                        <u>Antecedentes obstétricos (si corresponde)</u>
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p><b>Gestas:</b> {{internacion.antecedentes.obsetricos.gestas}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Partos:</b> {{internacion.antecedentes.obsetricos.partos}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Cesáreas:</b> {{internacion.antecedentes.obsetricos.cesareas}}</p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Abortos:</b> {{internacion.antecedentes.obsetricos.abortos}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <form name="formEvolucion">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        Hoja de control de signos vitales y balance hidroelectrolítico
                    </h3>
                </div>

                <div class="box-body">

                    <div class="row">

                        <div class="col-md-4">
                            <input type="text" plex="date" ng-required="true" ng-model="evolucion.fecha" label="Fecha" />
                        </div>
                        <div class="col-md-4">
                            <input type="text" plex="time" ng-required="true" ng-model="evolucion.hora" label="Hora" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.pulso" label="Pulso" placeholder="F.C" plex="int"/>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.ta" label="T/A" placeholder="T/A" plex="int" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.ta" label="mmHG" placeholder="mmHG" plex="int" />
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.temperatura" label="Tº" placeholder="ºC" plex="float"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.resp" label="Resp." placeholder="F.R" plex="int"/>
                        </div>
                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.spo2" label="%Sp02" placeholder="%" plex="int" plex-min="0" plex-max="100"/>
                        </div>

                        <div class="col-md-2">
                            <input type="text" ng-required="true" ng-model="evolucion.peso" label="Peso" placeholder="Kgs" plex="float"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="" label="Descripción"
                                placeholder="Consignar los tratamientos y cuidados efectuados y los síntomas observados"
                                ng-model="internacion.diagnosticoPresuntivo" plex  ng-required="true" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-success pull-right" plex-submit="guardarEvolucion()">
                        Guardar
                    </button>
                </div>

            </div>

        </form>
    </div>
</div>
