<div ng-controller="Pacientes/iHeaderController" layout layout-pretty whiteframe plex-affix>
    <div flex layout>
        <div flex="5">
            <!-- <i class="fa fa-male fa-4x" ng-if="internacion.paciente.sexo != 'femenino'"></i>
                        <i class="fa fa-female fa-4x" ng-if="internacion.paciente.sexo == 'femenino'"></i> -->
            <i class="{{internacion.paciente | persona:'icon'}} fa-4x"></i>
        </div>

        <div flex="40">
            <div class="md-title">
                {{internacion.paciente | persona}}
            </div>
            <div>
                <strong>{{internacion.paciente | persona:'d'}}</strong>
            </div>
            <div>{{internacion.paciente | persona:'e'}}
            </div>
        </div>
        <div flex>

            <span class="md-caption">Diagnóstico presuntivo</span>
            <br/>
            {{internacion.ingreso.diagnosticoPresuntivo}}

            <br/>

            <span class="md-caption">Motivo de internación</span>
            <br/>
            {{internacion.ingreso.motivo}}

            <br/>

            <div class="md-caption" ng-if="internacion.paciente.obrasSociales != ''">
                Obra social
                <br/>
                {{internacion.paciente.obrasSociales}}
            </div>
        </div>
        <div flex >
            <span class="md-caption">
                Ultima evolución:
                <br />
                    <i class="fa fa-user-md"></i>
                    {{internacion.evoluciones[internacion.evoluciones.length-1].createdBy.name}}
                    {{internacion.evoluciones[internacion.evoluciones.length-1].createdAt | fromNow}}
                    <br/>
                    {{internacion.evoluciones[internacion.evoluciones.length-1].createdAt | date: "dd/MM/yyyy  'a las' HH:mm "}} hs

            </span>


            <br />
        </div>

        <div flex="10">
            <div class="numero-habitacion">
                {{internacion.pases[internacion.pases.length-1].cama.habitacion}}
                /
                {{internacion.pases[internacion.pases.length-1].cama.numero}}
            </div>
        </div>
    </div>
</div>
